Repository DataDog/datadog-api-client-go: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, licensed, license-3rdparty

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generated
    name: Do not commit generated files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^api/.*(?<!\_test.go)$'
    verbose: true
  - id: licensed
    name: Licensed
    language: ruby
    language_version: system
    additional_dependencies:
      - licensed
    entry: .licenses/check.sh
    pass_filenames: false
    files: "^(go.mod|go.sum|.licensed.yml|.licenses/.*)$"
    verbose: true
  - id: license-3rdparty
    name: LICENSE-3rdparty
    language: python
    language_version: '3'
    additional_dependencies:
      - pyyaml
    entry: .licenses/licenses.py
    pass_filenames: false
    files: "^(go.mod|go.sum|.licensed.yml|.licenses/.*.dep.yml)$"
    verbose: true

[Synthetics] Update tests for monitor name and priority
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestSyntheticsAPITestLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsAPITestLifecycle.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsMultipleTestsOperations.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsMultipleTestsOperations.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsTriggerCITests.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsTriggerCITests.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors/404_Not_Found.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors/404_Not_Found.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors/404_Not_Found.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors/404_Not_Found.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsVariableFromTestLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsVariableFromTestLifecycle.yaml
Due: none

Send approval status
  .github/workflows/approved_status.yml
  .github/workflows/scripts/approved_status.js
Due: none

Add workflow for PR approved
  .github/workflows/approved_status.yml
  .github/workflows/scripts/approved_status.js
Due: none

Regenerate client from commit 6fd1064 of spec repo
  .apigentools-info
Due: none

[Synthetics] Update cassette
  tests/api/v1/datadog/cassettes/TestMonitorSyntheticsGet.freeze
  tests/api/v1/datadog/cassettes/TestMonitorSyntheticsGet.yaml
Due: none

Regenerate client from commit e6c8320 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsTestOptions.md
  api/v1/datadog/model_synthetics_test_options.go
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/features/synthetics.feature
Due: generated

Don't run approved workflow on non generated PRs
  .github/workflows/approved_status.yml
Due: none

Don't run approved workflow on non generated PRs (#988)
  .github/workflows/approved_status.yml
Due: none

Regenerate client from commit f570d1e of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/UsageBillableSummaryKeys.md
  api/v1/datadog/model_usage_billable_summary_keys.go
Due: generated

Make tests its own submodule, to separate dependencies
  go.mod
  go.sum
  tests/api/v1/datadog/configuration_test.go
  tests/api/v2/datadog/configuration_test.go
  tests/go.mod
  tests/go.sum
Due: licensed, license-3rdparty

cd into tests submodule
  run-go-tests.sh
Due: none

go modi tidy
  tests/go.mod
Due: none

remove cd output
  run-go-tests.sh
  run-tests.sh
Due: none

don't post status check
  .github/workflows/test_integration.yml
Due: none

fix license check
  run-tests.sh
Due: none

Remove extra bracket in json struct
  .generator/templates/model_simple.mustache
Due: none

Make tests its own submodule, to separate dependencies (#990)
  .github/workflows/test_integration.yml
  go.mod
  go.sum
  run-go-tests.sh
  run-tests.sh
  tests/api/v1/datadog/configuration_test.go
  tests/api/v2/datadog/configuration_test.go
  tests/go.mod
  tests/go.sum
Due: licensed, license-3rdparty

Release 1.0.0
  CHANGELOG.md
  version.go
Due: none

Release 1.0.0 (#994)
  CHANGELOG.md
  version.go
Due: none

New release cycle
  version.go
Due: none

New release cycle (#995)
  version.go
Due: none

Add GetEnumValues method
  .generator/templates/model_enum.mustache
Due: none

Regenerate client from commit 6c1fcab of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_service_level_objectives.go
  api/v1/datadog/docs/ServiceLevelObjectivesApi.md
Due: generated

Regenerate client from commit 0664044 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/Dashboard.md
  api/v1/datadog/model_dashboard.go
  tests/api/v1/datadog/features/dashboards.feature
Due: generated

cassettes
  tests/api/v2/datadog/cassettes/TestListSecurityMonitoringSignals.freeze
  tests/api/v2/datadog/cassettes/TestListSecurityMonitoringSignals.yaml
  tests/api/v2/datadog/cassettes/TestSearchSecurityMonitoringSignals.freeze
  tests/api/v2/datadog/cassettes/TestSearchSecurityMonitoringSignals.yaml
  tests/api/v2/datadog/cassettes/TestSecMonRulesCRUD.freeze
  tests/api/v2/datadog/cassettes/TestSecMonRulesCRUD.yaml
Due: none

Add time functions for templated values
  tests/scenarios.go
Due: none

Regenerate client from commit 92478ee of spec repo
  .apigentools-info
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/docs/SecurityMonitoringApi.md
  api/v2/datadog/docs/SecurityMonitoringListRulesResponse.md
  api/v2/datadog/docs/SecurityMonitoringRuleCreatePayload.md
  api/v2/datadog/docs/SecurityMonitoringRuleResponse.md
  api/v2/datadog/docs/SecurityMonitoringRuleUpdatePayload.md
  api/v2/datadog/model_security_monitoring_list_rules_response.go
  api/v2/datadog/model_security_monitoring_rule_create_payload.go
  api/v2/datadog/model_security_monitoring_rule_response.go
  api/v2/datadog/model_security_monitoring_rule_update_payload.go
  tests/api/v2/datadog/features/security_monitoring.feature
Due: generated

Regenerate client from commit 67742c8 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
Due: generated

Small tweaks
  tests/scenarios.go
Due: none

Add cassettes
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_Query_timeseries_points_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_Query_timeseries_points_returns_OK_response.yaml
Due: none

[Synthetics] Update tests for frequency
  tests/api/v1/datadog/api_synthetics_test.go
Due: none

Release 1.1.0
  CHANGELOG.md
  version.go
Due: none

Release 1.1.0 (#1003)
  CHANGELOG.md
  version.go
Due: none

Start next release cycle
  version.go
Due: none

Start next release cycle (#1004)
  version.go
Due: none

Regenerate client from commit ccc57f4 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/MetricsQueryMetadata.md
  api/v1/datadog/model_metrics_query_metadata.go
Due: generated

Regenerate client from commit 4951cff of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  tests/api/v1/datadog/features/given.json
  tests/api/v1/datadog/features/service_level_objective_corrections.feature
Due: generated

Update cassettes
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_Query_timeseries_points_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_Query_timeseries_points_returns_OK_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_Submit_metrics_returns_Payload_accepted_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_Submit_metrics_returns_Payload_accepted_response.yaml
Due: none
