Repository DataDog/datadog-api-client-go: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, licensed, license-3rdparty

generated:
  name: Do not commit generated files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

licensed:
  name: Licensed
  language: ruby
  language_version: system
  additional_dependencies:
  - licensed
  entry: .licenses/check.sh
  pass_filenames: false
  verbose: true

license-3rdparty:
  name: LICENSE-3rdparty
  language: python
  language_version: '3'
  additional_dependencies:
  - pyyaml
  entry: .licenses/licenses.py
  pass_filenames: false
  verbose: true

Re-record
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_Submit_metrics_returns_Payload_accepted_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_Submit_metrics_returns_Payload_accepted_response.yaml
Due: none

Regenerate client from commit 32aaa94 of spec repo
  .apigentools-info
  tests/api/v1/datadog/features/metrics.feature
Due: none

[Synthetics] Update tests for new options
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestSyntheticsAPIMultistepTestEndpointLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsAPIMultistepTestEndpointLifecycle.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsBrowserTestEndpointLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsBrowserTestEndpointLifecycle.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsSubtypeDnsAPITestLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsSubtypeDnsAPITestLifecycle.yaml
Due: none

Regenerate client from commit 9430c32 of spec repo
  .apigentools-info
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_synthetics.go
  api/v1/datadog/docs/SyntheticsApi.md
  api/v2/datadog/api/openapi.yaml
  tests/api/v1/datadog/features/synthetics.feature
Due: generated

Regenerate client from commit 4463f95 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/DistributionWidgetDefinition.md
  api/v1/datadog/docs/DistributionWidgetXAxis.md
  api/v1/datadog/docs/DistributionWidgetYAxis.md
  api/v1/datadog/docs/WidgetDefinition.md
  api/v1/datadog/docs/WidgetMarker.md
  api/v1/datadog/model_distribution_widget_definition.go
  api/v1/datadog/model_distribution_widget_x_axis.go
  api/v1/datadog/model_distribution_widget_y_axis.go
  api/v1/datadog/model_widget_marker.go
Due: generated

tests: bump go-bdd to support BDD_TAGS env
  go.mod
  go.sum
Due: licensed, license-3rdparty

tests: bump go-bdd to support BDD_TAGS env (#878)
  go.mod
  go.sum
Due: licensed, license-3rdparty

Bump go versions
  .github/workflows/test.yml
Due: none

Bump go versions (#879)
  .github/workflows/test.yml
Due: none

Regenerate client from commit e26c7dd of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/UsageHostHour.md
  api/v1/datadog/docs/UsageIoTHour.md
  api/v1/datadog/docs/UsageSummaryDate.md
  api/v1/datadog/docs/UsageSummaryDateOrg.md
  api/v1/datadog/docs/UsageSummaryResponse.md
  api/v1/datadog/model_usage_host_hour.go
  api/v1/datadog/model_usage_io_t_hour.go
  api/v1/datadog/model_usage_summary_date.go
  api/v1/datadog/model_usage_summary_date_org.go
  api/v1/datadog/model_usage_summary_response.go
Due: generated

Regenerate client from commit ff4efbb of spec repo
  .apigentools-info
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_synthetics.go
  api/v1/datadog/docs/SyntheticsApi.md
  tests/api/v1/datadog/features/synthetics.feature
  tests/api/v1/datadog/features/undo.json
Due: generated

cassettes
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.yaml
Due: none

Regenerate client from commit ed1fc39 of spec repo
  .apigentools-info
  tests/api/v2/datadog/features/metrics.feature
Due: none

break long line
  README.md
Due: none

[Synthetics] Fix cassettes
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestSyntheticsBrowserTestLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsBrowserTestLifecycle.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsMultipleTestsOperations.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsMultipleTestsOperations.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsSubtypeDnsAPITestLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsSubtypeDnsAPITestLifecycle.yaml
  tests/api/v1/datadog/features/synthetics.feature
Due: none

Regenerate client from commit 9e44725 of spec repo
  .apigentools-info
Due: none

Regenerate client from commit d50fc5a of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsAssertionType.md
  api/v1/datadog/docs/SyntheticsTestDetailsSubType.md
  api/v1/datadog/docs/SyntheticsTestRequest.md
  api/v1/datadog/model_synthetics_assertion_type.go
  api/v1/datadog/model_synthetics_test_details_sub_type.go
  api/v1/datadog/model_synthetics_test_request.go
  tests/api/v1/datadog/features/synthetics.feature
Due: generated

Regenerate client from commit 6b0114c of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  tests/api/v1/datadog/features/dashboard_payload.json
  tests/api/v1/datadog/features/given.json
Due: generated

do not run integration-only tests
  run-tests.sh
Due: none

Regenerate client from commit 088737f of spec repo
  .apigentools-info
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/api_metrics.go
  api/v2/datadog/docs/MetricTagConfigurationMetricTypes.md
  api/v2/datadog/model_metric_tag_configuration_metric_types.go
Due: generated

Prepare release
  CHANGELOG.md
  version.go
Due: none

Prepare release (#890)
  CHANGELOG.md
  version.go
Due: none

start next dev cycle
  version.go
Due: none

start next dev cycle (#891)
  version.go
Due: none

update to use new Go API
  tests/api/v1/datadog/api_usage_metering_test.go
Due: none

check-examples
  check-examples.sh
Due: none

tests: add support for DD_APM_RECEIVER_SOCKET
  tests/test_utils.go
Due: none

Regenerate client from commit 267134d of spec repo
  .apigentools-info
Due: none

tests: add support for DD_APM_RECEIVER_SOCKET (#893)
  tests/test_utils.go
Due: none

Regenerate client from commit 75ca6ae of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/GroupWidgetDefinition.md
  api/v1/datadog/docs/ImageWidgetDefinition.md
  api/v1/datadog/docs/NoteWidgetDefinition.md
  api/v1/datadog/docs/WidgetDefinition.md
  api/v1/datadog/docs/WidgetHorizontalAlign.md
  api/v1/datadog/docs/WidgetImageSizing.md
  api/v1/datadog/docs/WidgetLayout.md
  api/v1/datadog/docs/WidgetVerticalAlign.md
  api/v1/datadog/model_dashboard_reflow_type.go
  api/v1/datadog/model_group_widget_definition.go
  api/v1/datadog/model_image_widget_definition.go
  api/v1/datadog/model_note_widget_definition.go
  api/v1/datadog/model_widget.go
  api/v1/datadog/model_widget_horizontal_align.go
  api/v1/datadog/model_widget_image_sizing.go
  api/v1/datadog/model_widget_layout.go
  api/v1/datadog/model_widget_margin.go
  api/v1/datadog/model_widget_vertical_align.go
Due: generated

Add step for body from payload
  tests/api/v1/datadog/features/dashboards.feature
  tests/scenarios.go
Due: none

Regenerate client from commit 93dbed8 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_events.go
  api/v1/datadog/docs/EventsApi.md
Due: generated

add quotesé
  tests/scenarios.go
Due: none

Fix example
  README.md
Due: none

Regenerate client from commit ac83bf0 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SLOListResponse.md
  api/v1/datadog/docs/SLOListResponseMetadata.md
  api/v1/datadog/docs/SLOListResponseMetadataPage.md
  api/v1/datadog/model_slo_list_response.go
  api/v1/datadog/model_slo_list_response_metadata.go
  api/v1/datadog/model_slo_list_response_metadata_page.go
Due: generated

Regenerate client from commit 88ccf9e of spec repo
  .apigentools-info
  tests/api/v1/datadog/features/aws_integration.feature
  tests/api/v1/datadog/features/aws_logs_integration.feature
  tests/api/v1/datadog/features/azure_integration.feature
  tests/api/v1/datadog/features/dashboard_lists.feature
  tests/api/v1/datadog/features/dashboards.feature
  tests/api/v1/datadog/features/downtimes.feature
  tests/api/v1/datadog/features/events.feature
  tests/api/v1/datadog/features/gcp_integration.feature
  tests/api/v1/datadog/features/hosts.feature
  tests/api/v1/datadog/features/key_management.feature
  tests/api/v1/datadog/features/logs.feature
  tests/api/v1/datadog/features/logs_indexes.feature
  tests/api/v1/datadog/features/logs_pipelines.feature
  tests/api/v1/datadog/features/metrics.feature
  tests/api/v1/datadog/features/monitors.feature
  tests/api/v1/datadog/features/organizations.feature
  tests/api/v1/datadog/features/pagerduty_integration.feature
  tests/api/v1/datadog/features/service_checks.feature
  tests/api/v1/datadog/features/service_level_objective_corrections.feature
  tests/api/v1/datadog/features/service_level_objectives.feature
  tests/api/v1/datadog/features/slack_integration.feature
  tests/api/v1/datadog/features/synthetics.feature
  tests/api/v1/datadog/features/tags.feature
  tests/api/v1/datadog/features/users.feature
  tests/api/v2/datadog/features/dashboard_lists.feature
  tests/api/v2/datadog/features/incident_services.feature
  tests/api/v2/datadog/features/incident_teams.feature
  tests/api/v2/datadog/features/incidents.feature
  tests/api/v2/datadog/features/key_management.feature
  tests/api/v2/datadog/features/logs.feature
  tests/api/v2/datadog/features/logs_archives.feature
  tests/api/v2/datadog/features/logs_metrics.feature
  tests/api/v2/datadog/features/metrics.feature
  tests/api/v2/datadog/features/roles.feature
  tests/api/v2/datadog/features/security_monitoring.feature
  tests/api/v2/datadog/features/users.feature
Due: none

Regenerate client from jirikuncar/simple-merge of spec repo
  .apigentools-info
Due: none

os.ReadFile is go 1.16 only
  tests/scenarios.go
Due: none

Regenerate client from commit 9d22381 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsAPIStep.md
  api/v1/datadog/docs/SyntheticsBrowserTestConfig.md
  api/v1/datadog/docs/SyntheticsTestRequest.md
  api/v1/datadog/model_synthetics_api_step.go
  api/v1/datadog/model_synthetics_browser_test_config.go
  api/v1/datadog/model_synthetics_test_request.go
  tests/api/v1/datadog/features/synthetics.feature
Due: generated

Path conditions:
  generated: any of: ^api/.*(?<!\_test.go)$
  licensed: any of: ^(go.mod|go.sum|.licensed.yml|.licenses/.*)$
  license-3rdparty: any of: ^(go.mod|go.sum|.licensed.yml|.licenses/.*.dep.yml)$
