Repository DataDog/datadog-api-client-go: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, licensed, license-3rdparty

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generated
    name: Do not commit generated files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^api/.*(?<!\_test.go)$'
    verbose: true
  - id: licensed
    name: Licensed
    language: ruby
    language_version: system
    additional_dependencies:
      - licensed
    entry: .licenses/check.sh
    pass_filenames: false
    files: "^(go.mod|go.sum|.licensed.yml|.licenses/.*)$"
    verbose: true
  - id: license-3rdparty
    name: LICENSE-3rdparty
    language: python
    language_version: '3'
    additional_dependencies:
      - pyyaml
    entry: .licenses/licenses.py
    pass_filenames: false
    files: "^(go.mod|go.sum|.licensed.yml|.licenses/.*.dep.yml)$"
    verbose: true

Update readme to include requirements section (#798)
  README.md
Due: none

Apply template-patches/go-experimental-0003-custom-license-header.patch
  templates/partial_header.mustache
Due: none

Apply template-patches/go-experimental-0005-unstable-operations.patch
  templates/api.mustache
  templates/configuration.mustache
Due: none

Apply template-patches/go-examples-with-dd-site.patch
  templates/api_doc.mustache
Due: none

Apply template-patches/go-experimental-0009-export-request-methods.patch
  templates/api.mustache
  templates/client.mustache
Due: none

Apply template-patches/go-experimental-0006-operation-id-header.patch
  templates/api.mustache
Due: none

Apply template-patches/go-experimental-0007-user-agent.patch
  templates/configuration.mustache
Due: none

Apply template-patches/go-experimental-redact-auth-debug-logs.patch
  templates/client.mustache
Due: none

Apply template-patches/go-experimental-0008-code-example.patch
  templates/api_doc.mustache
Due: none

Apply template-patches/go-validate-enum-values.patch
  templates/model_enum.mustache
Due: none

Regenerate client from commit c679afc of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/FormulaAndFunctionEventAggregation.md
  api/v1/datadog/model_formula_and_function_event_aggregation.go
Due: generated

Move templates
  .generator/templates/.travis.yml
  .generator/templates/README.mustache
  .generator/templates/api.mustache
  .generator/templates/api_doc.mustache
  .generator/templates/client.mustache
  .generator/templates/configuration.mustache
  .generator/templates/git_push.sh.mustache
  .generator/templates/gitignore.mustache
  .generator/templates/go.mod.mustache
  .generator/templates/go.sum
  .generator/templates/model.mustache
  .generator/templates/model_anyof.mustache
  .generator/templates/model_doc.mustache
  .generator/templates/model_enum.mustache
  .generator/templates/model_oneof.mustache
  .generator/templates/model_simple.mustache
  .generator/templates/nullable_model.mustache
  .generator/templates/openapi.mustache
  .generator/templates/partial_header.mustache
  .generator/templates/response.mustache
  .generator/templates/signing.mustache
  .generator/templates/utils.mustache
Due: none

Make messsage property required
  tests/api/v1/datadog/api_synthetics_test.go
Due: none

Regenerate client from commit 34cf37f of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsApi.md
  api/v1/datadog/docs/SyntheticsBrowserTest.md
  api/v1/datadog/model_synthetics_browser_test_.go
Due: generated

Regenerate client from commit 7e667f1 of spec repo
  .apigentools-info
Due: none

Add notice for templates
  NOTICE
Due: none

Add notice for templates (#805)
  NOTICE
Due: none

Regenerate client from commit 1906d5b of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_usage_metering.go
  api/v1/datadog/docs/UsageMeteringApi.md
  api/v1/datadog/docs/UsageTopAvgMetricsMetadata.md
  api/v1/datadog/docs/UsageTopAvgMetricsResponse.md
  api/v1/datadog/model_usage_top_avg_metrics_metadata.go
  api/v1/datadog/model_usage_top_avg_metrics_response.go
Due: generated

Regenerate client from commit b13ee4f of spec repo
  .apigentools-info
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_synthetics.go
  api/v1/datadog/docs/SyntheticsApi.md
  tests/api/v1/datadog/features/synthetics.feature
  tests/api/v1/datadog/features/undo.json
Due: generated

Load env variables, make example changes
  .generator/templates/api_doc.mustache
  .generator/templates/configuration.mustache
Due: none

Regenerate client from commit b654b25 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SLOWidgetDefinition.md
  api/v1/datadog/docs/WidgetDefinition.md
  api/v1/datadog/model_slo_widget_definition.go
Due: generated

Regenerate client from commit e5b275c of spec repo
  .apigentools-info
  api/v2/datadog/.openapi-generator/FILES
  api/v2/datadog/README.md
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/docs/SecurityMonitoringRuleQuery.md
  api/v2/datadog/docs/SecurityMonitoringRuleQueryCreate.md
  api/v2/datadog/docs/SecurityMonitoringRuntimeAgentRule.md
  api/v2/datadog/model_security_monitoring_rule_query.go
  api/v2/datadog/model_security_monitoring_rule_query_create.go
  api/v2/datadog/model_security_monitoring_runtime_agent_rule.go
Due: generated

Regenerate client from commit 075d167 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/UsageHostHour.md
  api/v1/datadog/docs/UsageSummaryDate.md
  api/v1/datadog/docs/UsageSummaryDateOrg.md
  api/v1/datadog/docs/UsageSummaryResponse.md
  api/v1/datadog/model_usage_host_hour.go
  api/v1/datadog/model_usage_summary_date.go
  api/v1/datadog/model_usage_summary_date_org.go
  api/v1/datadog/model_usage_summary_response.go
Due: generated

Use x-env-name
  .generator/templates/configuration.mustache
Due: none

cassettes
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_List_tag_configurations_with_a_tag_filter_returns__Success__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_List_tag_configurations_with_a_tag_filter_returns__Success__response.yaml
Due: none

Regenerate client from commit 20f68cb of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_metrics.go
  api/v1/datadog/docs/MetricsApi.md
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/api_metrics.go
  api/v2/datadog/docs/MetricsApi.md
  tests/api/v2/datadog/features/metrics.feature
Due: generated

Regenerate client from commit abcc1ed of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_usage_metering.go
  api/v1/datadog/docs/UsageComplianceHour.md
  api/v1/datadog/docs/UsageComplianceResponse.md
  api/v1/datadog/docs/UsageMeteringApi.md
  api/v1/datadog/docs/UsageSummaryDate.md
  api/v1/datadog/docs/UsageSummaryDateOrg.md
  api/v1/datadog/docs/UsageSummaryResponse.md
  api/v1/datadog/model_usage_compliance_hour.go
  api/v1/datadog/model_usage_compliance_response.go
  api/v1/datadog/model_usage_summary_date.go
  api/v1/datadog/model_usage_summary_date_org.go
  api/v1/datadog/model_usage_summary_response.go
  tests/api/v1/datadog/features/undo.json
  tests/api/v1/datadog/features/usage_metering.feature
Due: generated

Add method allowing to apply middleware to request (#7403)
  .generator/templates/client.mustache
  .generator/templates/configuration.mustache
Due: none

Regenerate client from commit 2f79ff1 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsAPITestResultShortResult.md
  api/v1/datadog/docs/SyntheticsCheckType.md
  api/v1/datadog/docs/SyntheticsTestOptions.md
  api/v1/datadog/docs/SyntheticsTestRequest.md
  api/v1/datadog/model_synthetics_api_test_result_short_result.go
  api/v1/datadog/model_synthetics_check_type.go
  api/v1/datadog/model_synthetics_test_options.go
  api/v1/datadog/model_synthetics_test_request.go
Due: generated

store raw json in ctx for easier lookup
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_timeseries_widget_containing_style_attributes.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_timeseries_widget_containing_style_attributes.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Incidents/Scenario_Create_an_incident_returns__CREATED__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Incidents/Scenario_Create_an_incident_returns__CREATED__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Add_a_user_to_a_role_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Add_a_user_to_a_role_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Get_all_users_of_a_role_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Get_all_users_of_a_role_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Remove_a_user_from_a_role_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Remove_a_user_from_a_role_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Create_a_user_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Create_a_user_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Disable_a_user_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Disable_a_user_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Get_a_user_invitation_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Get_a_user_invitation_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Get_a_user_permissions_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Get_a_user_permissions_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Get_a_user_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Get_a_user_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_List_all_users_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_List_all_users_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Send_invitation_emails_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Send_invitation_emails_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Update_a_user_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Update_a_user_returns__OK__response.yaml
  tests/scenarios.go
Due: none

Regenerate client from commit 5e32bc9 of spec repo
  .apigentools-info
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/docs/UserAttributes.md
  api/v2/datadog/model_user_attributes.go
Due: generated

use fix for go-lookup
  go.mod
Due: licensed, license-3rdparty

Add 3rd party
  LICENSE-3rdparty.csv
Due: none

cassettes
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_timeseries_widget_containing_style_attributes.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_timeseries_widget_containing_style_attributes.yaml
Due: none

Add support for DD_TEST_SITE
  tests/api/v1/datadog/scenarios_test.go
  tests/api/v1/datadog/utils.go
  tests/api/v2/datadog/scenarios_test.go
  tests/api/v2/datadog/utils.go
Due: none

Regenerate client from commit ac88e20 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsTestOptions.md
  api/v1/datadog/model_synthetics_test_options.go
Due: generated

Add tests for geomap widget
  api/v1/datadog/model_geomap_widget_request.go
  tests/api/v1/datadog/api_dashboards_test.go
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.yaml
Due: generated

Regenerate client from commit 1a655b7 of spec repo
  .apigentools-info
  api/v2/datadog/api/openapi.yaml
  tests/api/v1/datadog/features/dashboards.feature
  tests/api/v2/datadog/features/given.json
Due: generated
