Repository DataDog/datadog-api-client-go: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generated-features, generate

generated:
  name: Do not commit generated files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

generated-features:
  name: Do not commit generated feature files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

generate:
  name: Generate
  language: node
  entry: make
  pass_filenames: false

Regenerate client from commit d9035aa of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/UsageBillableSummaryHour.md
  api/v1/datadog/model_usage_billable_summary_hour.go
Due: generated, generate

prepare for 1.6.0 release (#1194)
  CHANGELOG.md
  version.go
Due: none

start next release cycly
  version.go
Due: none

start next release cycly (#1195)
  version.go
Due: none

Regenerate client from commit 904c411 of spec repo
  .apigentools-info
  examples/v1/snapshots/GetGraphSnapshot.go
  tests/scenarios/features/v1/snapshots.feature
Due: generated-features

Regenerate client from commit 6ddcc8e of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsAPITestConfig.md
  api/v1/datadog/docs/SyntheticsAssertionTarget.md
  api/v1/datadog/docs/SyntheticsCIBatchMetadataGit.md
  api/v1/datadog/docs/SyntheticsStepDetail.md
  api/v1/datadog/model_synthetics_api_test_config.go
  api/v1/datadog/model_synthetics_assertion_target.go
  api/v1/datadog/model_synthetics_ci_batch_metadata_git.go
  api/v1/datadog/model_synthetics_step_detail.go
  tests/scenarios/features/v1/snapshots.feature
Due: generated, generated-features, generate

[Synthetics] Add test for UDP subtype
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestSyntheticsSubtypeUdpAPITestLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsSubtypeUdpAPITestLifecycle.yaml
Due: none

Regenerate client from commit 084ca04 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/UsageNetworkFlowsHour.md
  api/v1/datadog/model_usage_network_flows_hour.go
Due: generated, generate

Regenerate client from commit 2eb9674 of spec repo
  .apigentools-info
  examples/v1/service-level-objective-corrections/CreateSLOCorrection.go
Due: none

Regenerate client from commit fabbc01 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SLOCorrectionResponseAttributes.md
  api/v1/datadog/model_slo_correction_response_attributes.go
Due: generated, generate

Regenerate client from commit c588c56 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/ChangeWidgetRequest.md
  api/v1/datadog/model_change_widget_request.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_a_formulas_and_functions_change_widget.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_a_formulas_and_functions_change_widget.yaml
  tests/scenarios/features/v1/dashboards.feature
Due: generated, generated-features, generate

Regenerate client from commit cbb6f12 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_usage_metering.go
  api/v1/datadog/docs/UsageMeteringApi.md
  api/v1/datadog/docs/UsageRumUnitsHour.md
  api/v1/datadog/docs/UsageRumUnitsResponse.md
  api/v1/datadog/docs/UsageSummaryDate.md
  api/v1/datadog/docs/UsageSummaryDateOrg.md
  api/v1/datadog/docs/UsageSummaryResponse.md
  api/v1/datadog/model_usage_rum_units_hour.go
  api/v1/datadog/model_usage_rum_units_response.go
  api/v1/datadog/model_usage_summary_date.go
  api/v1/datadog/model_usage_summary_date_org.go
  api/v1/datadog/model_usage_summary_response.go
  tests/scenarios/features/v1/undo.json
  tests/scenarios/features/v1/usage_metering.feature
Due: generated, generated-features, generate

Regenerate client from commit 2b850b7 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_synthetics.go
  api/v1/datadog/docs/SyntheticsApi.md
  api/v1/datadog/docs/SyntheticsTriggerBody.md
  api/v1/datadog/docs/SyntheticsTriggerTest.md
  api/v1/datadog/model_synthetics_trigger_body.go
  api/v1/datadog/model_synthetics_trigger_test_.go
  examples/v1/synthetics/TriggerTests.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Trigger_some_Synthetics_tests_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Trigger_some_Synthetics_tests_returns_OK_response.yaml
  tests/scenarios/features/v1/synthetics.feature
  tests/scenarios/features/v1/undo.json
Due: generated, generated-features, generate

Regenerate client from commit ec0039a of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsAssertionType.md
  api/v1/datadog/docs/SyntheticsTestDetailsSubType.md
  api/v1/datadog/docs/SyntheticsTestRequest.md
  api/v1/datadog/model_synthetics_assertion_type.go
  api/v1/datadog/model_synthetics_test_details_sub_type.go
  api/v1/datadog/model_synthetics_test_request.go
  tests/api/v1/datadog/api_synthetics_test.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Create_an_API_test_with_UDP_subtype_returns_OK_-_Returns_the_created_test_details._response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Create_an_API_test_with_UDP_subtype_returns_OK_-_Returns_the_created_test_details._response.yaml
  tests/scenarios/features/v1/synthetics.feature
  tests/scenarios/features/v1/synthetics_api_test_udp_payload.json
Due: generated, generated-features, generate

target is required
  tests/api/v1/datadog/api_synthetics_test.go
Due: none

Remove old spec copy
  api/v1/datadog/api/openapi.yaml
  api/v2/datadog/api/openapi.yaml
Due: generated

Remove generation
  Makefile
Due: none

Remove old spec copy (#1199)
  Makefile
  api/v1/datadog/api/openapi.yaml
  api/v2/datadog/api/openapi.yaml
Due: generated

Remove duplicit OpenAPI specification
  Makefile
  api/v1/datadog/.openapi-generator-ignore
  api/v2/datadog/.openapi-generator-ignore
Due: generated

Regenerate client from commit 3b593f9 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/SyntheticsTestDetailsSubType.md
  api/v1/datadog/docs/SyntheticsTestRequest.md
  api/v1/datadog/model_synthetics_test_details_sub_type.go
  api/v1/datadog/model_synthetics_test_request.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Create_an_API_test_with_WEBSOCKET_subtype_returns_OK_-_Returns_the_created_test_details._response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Create_an_API_test_with_WEBSOCKET_subtype_returns_OK_-_Returns_the_created_test_details._response.yaml
  tests/scenarios/features/v1/synthetics.feature
  tests/scenarios/features/v1/synthetics_api_test_websocket_payload.json
Due: generated, generated-features, generate

Regenerate client from commit fabf585 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/UsageFargateHour.md
  api/v1/datadog/docs/UsageSummaryDate.md
  api/v1/datadog/docs/UsageSummaryDateOrg.md
  api/v1/datadog/docs/UsageSummaryResponse.md
  api/v1/datadog/model_usage_fargate_hour.go
  api/v1/datadog/model_usage_summary_date.go
  api/v1/datadog/model_usage_summary_date_org.go
  api/v1/datadog/model_usage_summary_response.go
Due: generated, generate

Regenerate client from commit 8abcff4 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v2/datadog/.openapi-generator/FILES
Due: generated

Regenerate client from commit fce8d3b of spec repo
  .apigentools-info
  examples/v1/hosts/ListHosts.go
  tests/scenarios/features/v1/hosts.feature
Due: generated-features

Regenerate client from commit b4edd57 of spec repo
  .apigentools-info
  examples/v1/hosts/ListHosts.go
  tests/scenarios/features/v1/hosts.feature
Due: generated-features

Regenerate client from commit 27830cd of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/MonitorType.md
  api/v1/datadog/model_monitor_type.go
Due: generated, generate

Regenerate client from commit cab9320 of spec repo
  .apigentools-info
  examples/v1/service-level-objective-corrections/CreateSLOCorrection.go
  examples/v1/service-level-objective-corrections/GetSLOCorrection.go
  examples/v1/service-level-objective-corrections/ListSLOCorrection.go
  examples/v1/service-level-objective-corrections/UpdateSLOCorrection.go
  examples/v2/incident-services/CreateIncidentService.go
  examples/v2/incident-services/DeleteIncidentService.go
  examples/v2/incident-services/GetIncidentService.go
  examples/v2/incident-services/ListIncidentServices.go
  examples/v2/incident-services/UpdateIncidentService.go
  examples/v2/incident-teams/CreateIncidentTeam.go
  examples/v2/incident-teams/DeleteIncidentTeam.go
  examples/v2/incident-teams/GetIncidentTeam.go
  examples/v2/incident-teams/ListIncidentTeams.go
  examples/v2/incident-teams/UpdateIncidentTeam.go
  examples/v2/incidents/CreateIncident.go
  examples/v2/incidents/DeleteIncident.go
  examples/v2/incidents/GetIncident.go
  examples/v2/incidents/ListIncidents.go
  examples/v2/incidents/UpdateIncident.go
Due: none

Regenerate client from commit f1dce60 of spec repo
  .apigentools-info
  tests/scenarios/features/v1/authentication.feature
Due: generated-features

Regenerate client from commit 7d4329a of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/SyntheticsTriggerCITestsResponse.md
  api/v1/datadog/model_synthetics_trigger_ci_tests_response.go
Due: generated, generate

Regenerate client from commit ddc1872 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/EventCreateRequest.md
  api/v1/datadog/model_event_create_request.go
Due: generated, generate

Regenerate client from commit a3413fa of spec repo
  .apigentools-info
  examples/v2/logs/ListLogs.go
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Logs/Scenario_Search_logs_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Logs/Scenario_Search_logs_returns_OK_response.yaml
  tests/scenarios/features/v2/logs.feature
Due: generated-features

Remove access role
  api/v1/datadog/docs/User.md
  api/v1/datadog/model_user.go
  tests/api/v1/datadog/api_users_test.go
Due: generated

remove access role
  tests/api/v1/datadog/api_users_test.go
Due: none

Remove access_role from everywhere
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/model_access_role.go
  api/v1/datadog/model_user.go
  tests/api/v1/datadog/cassettes/TestCreateUser.yaml
  tests/api/v1/datadog/cassettes/TestDisableUser.yaml
  tests/api/v1/datadog/cassettes/TestUpdateUser.yaml
  tests/api/v1/datadog/cassettes/TestUserDisableErrors.yaml
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors.yaml
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors/404_Not_Found.yaml
  tests/scenarios/features/v1/users.feature
Due: generated, generated-features, generate

Regenerate client from commit 4ce4b9f of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/MonitorSearchResult.md
  api/v1/datadog/model_monitor_search_result.go
Due: generated, generate

Regenerate client from commit acfdbc7 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/SyntheticsBrowserVariable.md
  api/v1/datadog/model_synthetics_browser_variable.go
Due: generated, generate

Regenerate client from commit c0e7143 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/MonitorOptions.md
  api/v1/datadog/model_monitor_options.go
  examples/v1/monitors/ValidateMonitor.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Downtimes/Scenario_Schedule_a_monitor_downtime_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Downtimes/Scenario_Schedule_a_monitor_downtime_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Monitors/Scenario_Check_if_a_monitor_can_be_deleted_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Monitors/Scenario_Delete_a_monitor_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Monitors/Scenario_Edit_a_monitor_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Monitors/Scenario_Get_a_monitors_details_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Monitors/Scenario_Validate_a_monitor_returns_OK_response.yaml
  tests/scenarios/features/v1/given.json
  tests/scenarios/features/v1/monitor_payload.json
Due: generated, generate

Regenerate client from commit 765200a of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/UsageFargateHour.md
  api/v1/datadog/docs/UsageSDSHour.md
  api/v1/datadog/model_usage_fargate_hour.go
  api/v1/datadog/model_usage_sds_hour.go
Due: generated, generate

Regenerate client from commit 71029a4 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api_service_level_objectives.go
  api/v1/datadog/configuration.go
  api/v1/datadog/docs/SLOCorrectionResponseAttributes.md
  api/v1/datadog/docs/SLOCorrectionResponseAttributesModifier.md
  api/v1/datadog/docs/ServiceLevelObjectivesApi.md
  api/v1/datadog/model_slo_correction_response_attributes.go
  api/v1/datadog/model_slo_correction_response_attributes_modifier.go
  examples/v1/service-level-objectives/GetSLOCorrections.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Service_Level_Objectives/Scenario_Get_Corrections_For_an_SLO_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Service_Level_Objectives/Scenario_Get_Corrections_For_an_SLO_returns_OK_response.yaml
  tests/scenarios/features/v1/service_level_objectives.feature
  tests/scenarios/features/v1/undo.json
Due: generated, generated-features, generate

Path conditions:
  generated: any of: ^api/.*(?<!\_test.go)$
  generated-features: any of: ^tests/scenarios/features/v[1-9][0-9]*/.*.feature$
  generate: any of: ^.generator/.*
