Repository DataDog/datadog-api-client-go: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, licensed, license-3rdparty

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generated
    name: Do not commit generated files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^api/.*(?<!\_test.go)$'
    verbose: true
  - id: licensed
    name: Licensed
    language: ruby
    language_version: system
    additional_dependencies:
      - licensed
    entry: .licenses/check.sh
    pass_filenames: false
    files: "^(go.mod|go.sum|.licensed.yml|.licenses/.*)$"
    verbose: true
  - id: license-3rdparty
    name: LICENSE-3rdparty
    language: python
    language_version: '3'
    additional_dependencies:
      - pyyaml
    entry: .licenses/licenses.py
    pass_filenames: false
    files: "^(go.mod|go.sum|.licensed.yml|.licenses/.*.dep.yml)$"
    verbose: true

Regenerate client from commit f1b60ce of spec repo
  .apigentools-info
  api/v2/datadog/api/openapi.yaml
  tests/api/v1/datadog/features/aws_integration.feature
  tests/api/v1/datadog/features/aws_logs_integration.feature
  tests/api/v1/datadog/features/azure_integration.feature
  tests/api/v1/datadog/features/dashboard_lists.feature
  tests/api/v1/datadog/features/dashboards.feature
  tests/api/v1/datadog/features/downtimes.feature
  tests/api/v1/datadog/features/events.feature
  tests/api/v1/datadog/features/gcp_integration.feature
  tests/api/v1/datadog/features/hosts.feature
  tests/api/v1/datadog/features/key_management.feature
  tests/api/v1/datadog/features/logs.feature
  tests/api/v1/datadog/features/logs_indexes.feature
  tests/api/v1/datadog/features/logs_pipelines.feature
  tests/api/v1/datadog/features/metrics.feature
  tests/api/v1/datadog/features/monitors.feature
  tests/api/v1/datadog/features/organizations.feature
  tests/api/v1/datadog/features/pagerduty_integration.feature
  tests/api/v1/datadog/features/service_checks.feature
  tests/api/v1/datadog/features/service_level_objective_corrections.feature
  tests/api/v1/datadog/features/service_level_objectives.feature
  tests/api/v1/datadog/features/slack_integration.feature
  tests/api/v1/datadog/features/synthetics.feature
  tests/api/v1/datadog/features/tags.feature
  tests/api/v1/datadog/features/users.feature
  tests/api/v2/datadog/features/dashboard_lists.feature
  tests/api/v2/datadog/features/incident_services.feature
  tests/api/v2/datadog/features/incident_teams.feature
  tests/api/v2/datadog/features/incidents.feature
  tests/api/v2/datadog/features/key_management.feature
  tests/api/v2/datadog/features/logs.feature
  tests/api/v2/datadog/features/logs_archives.feature
  tests/api/v2/datadog/features/logs_metrics.feature
  tests/api/v2/datadog/features/metrics.feature
  tests/api/v2/datadog/features/roles.feature
  tests/api/v2/datadog/features/security_monitoring.feature
  tests/api/v2/datadog/features/users.feature
Due: generated

Prepare release
  CHANGELOG.md
  go.mod
  go.sum
  version.go
Due: licensed, license-3rdparty

Prepare release (#849)
  CHANGELOG.md
  go.mod
  go.sum
  version.go
Due: licensed, license-3rdparty

start next dev cycle
  version.go
Due: none

start next dev cycle (#850)
  version.go
Due: none

fix bdd tests
  tests/api/v1/datadog/api_metrics_test.go
  tests/api/v1/datadog/api_snapshots_test.go
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Create_an_SLO_object_returns__Bad_Request__response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Create_an_SLO_object_returns__Bad_Request__response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Create_an_SLO_object_returns__OK__response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Create_an_SLO_object_returns__OK__response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Delete_an_SLO_returns__Not_found__response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Delete_an_SLO_returns__Not_found__response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Delete_an_SLO_returns__OK__response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Delete_an_SLO_returns__OK__response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Update_an_SLO_returns__Bad_Request__response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Update_an_SLO_returns__Bad_Request__response.yaml
  tests/scenarios.go
Due: none

Bye bye codecov
  .azure-pipelines/all.yml
Due: none

Bye bye codecov (#852)
  .azure-pipelines/all.yml
Due: none

Remove last bits of codecov
  README.md
  codecov.yml
Due: none

Remove last bits of codecov (#853)
  README.md
  codecov.yml
Due: none

clean up bdd files
  tests/scenarios.go
Due: none

cassettes
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Create_an_SLO_object_returns_Bad_Request_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Create_an_SLO_object_returns_Bad_Request_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Update_an_SLO_returns_Bad_Request_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Update_an_SLO_returns_Bad_Request_response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Incident_Services/Scenario_Update_an_existing_incident_service_returns_OK_response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Incident_Services/Scenario_Update_an_existing_incident_service_returns_OK_response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Incident_Teams/Scenario_Update_an_existing_incident_team_returns_OK_response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Incident_Teams/Scenario_Update_an_existing_incident_team_returns_OK_response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns_Bad_Request_response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns_Bad_Request_response.yaml
Due: none

tests: prepare image with compiled test libs
  .dockerignore
  Dockerfile.canary
  go.mod
  go.sum
Due: licensed, license-3rdparty

Regenerate client from commit 9149cd6 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/docs/IncidentServiceUpdateData.md
  api/v2/datadog/docs/IncidentServicesApi.md
  api/v2/datadog/docs/IncidentTeamUpdateData.md
  api/v2/datadog/docs/IncidentTeamsApi.md
  api/v2/datadog/model_incident_service_update_data.go
  api/v2/datadog/model_incident_team_update_data.go
  tests/api/v1/datadog/features/dashboards.feature
  tests/api/v1/datadog/features/given.json
  tests/api/v1/datadog/features/logs.feature
  tests/api/v1/datadog/features/service_level_objectives.feature
  tests/api/v2/datadog/features/given.json
  tests/api/v2/datadog/features/logs_metrics.feature
  tests/api/v2/datadog/features/security_monitoring.feature
Due: generated

update cassettes
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Logs/Scenario_Send_logs_returns_Response_from_server_(always_200_empty_JSON)._response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Logs/Scenario_Send_logs_returns_Response_from_server_(always_200_empty_JSON)._response.yaml
Due: none

Add tests for golang logs retention
  tests/api/v1/datadog/api_usage_metering_test.go
  tests/api/v1/datadog/features/undo.json
  tests/api/v1/datadog/features/usage_metering.feature
Due: none

cassettes
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Dashboards/Scenario_Get_all_dashboards_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Dashboards/Scenario_Get_all_dashboards_returns_OK_response.yaml
Due: none

update example docs
  .generator/templates/api_doc.mustache
Due: none

fix doc generation
  .generator/templates/api_doc.mustache
Due: none

Regenerate client from commit 2c91a1d of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/GroupWidgetDefinition.md
  api/v1/datadog/docs/WidgetDefinition.md
  api/v1/datadog/model_group_widget_definition.go
Due: generated

Regenerate client from commit 007165a of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/UsageAttributionValues.md
  api/v1/datadog/model_usage_attribution_values.go
Due: generated

Regenerate client from commit ed46f8d of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_dashboards.go
  api/v1/datadog/docs/DashboardsApi.md
  tests/api/v1/datadog/features/dashboards.feature
  tests/api/v1/datadog/features/given.json
Due: generated

tests: fix BDD_TAGS env variable for filtering scenarios
  .dockerignore
  go.mod
  go.sum
Due: licensed, license-3rdparty

:(
  LICENSE-3rdparty.csv
Due: none

[Synthetics] Add test for icmp test
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestSyntheticsSubtypeIcmpAPITestLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsSubtypeIcmpAPITestLifecycle.yaml
Due: none

Regenerate client from commit be37d31 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_monitors.go
Due: generated

Have a more find grain request matcher
  tests/test_utils.go
Due: none

Have a more find grain request matcher (#863)
  tests/test_utils.go
Due: none

tests: add spans for BDD scenarios
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  tests/api/v1/datadog/scenarios_test.go
  tests/api/v2/datadog/scenarios_test.go
Due: licensed, license-3rdparty

Recover panics in tests
  tests/test_utils.go
Due: none

tests: add spans for BDD scenarios and recover panics for rerecording (#865)
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  tests/api/v1/datadog/scenarios_test.go
  tests/api/v2/datadog/scenarios_test.go
  tests/test_utils.go
Due: licensed, license-3rdparty

apply code review suggestions
  .generator/templates/api_doc.mustache
Due: none

Regenerate client from commit b493166 of spec repo
  .apigentools-info
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_synthetics.go
  api/v1/datadog/docs/SyntheticsApi.md
  tests/api/v1/datadog/features/synthetics.feature
Due: generated

cassettes
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.yaml
Due: none

Regenerate client from commit bc7eaeb of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  tests/api/v1/datadog/features/aws_integration.feature
  tests/api/v1/datadog/features/dashboard_lists.feature
  tests/api/v1/datadog/features/dashboards.feature
  tests/api/v1/datadog/features/downtimes.feature
  tests/api/v1/datadog/features/events.feature
  tests/api/v1/datadog/features/key_management.feature
  tests/api/v1/datadog/features/logs.feature
  tests/api/v1/datadog/features/logs_indexes.feature
  tests/api/v1/datadog/features/logs_pipelines.feature
  tests/api/v1/datadog/features/metrics.feature
  tests/api/v1/datadog/features/monitors.feature
  tests/api/v1/datadog/features/organizations.feature
  tests/api/v1/datadog/features/synthetics.feature
  tests/api/v1/datadog/features/users.feature
  tests/api/v2/datadog/features/incident_services.feature
  tests/api/v2/datadog/features/incident_teams.feature
  tests/api/v2/datadog/features/logs.feature
  tests/api/v2/datadog/features/roles.feature
  tests/api/v2/datadog/features/security_monitoring.feature
Due: generated

cassettes
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objective_Corrections/Scenario_Create_an_SLO_correction_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objective_Corrections/Scenario_Create_an_SLO_correction_returns_OK_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objective_Corrections/Scenario_Get_all_SLO_corrections_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objective_Corrections/Scenario_Get_all_SLO_corrections_returns_OK_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objective_Corrections/Scenario_Update_an_SLO_correction_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objective_Corrections/Scenario_Update_an_SLO_correction_returns_OK_response.yaml
Due: none

Regenerate client from commit fa07bf6 of spec repo
  .apigentools-info
  tests/api/v1/datadog/features/service_level_objective_corrections.feature
Due: none

Regenerate client from commit cb2432f of spec repo
  .apigentools-info
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/api_metrics.go
  api/v2/datadog/configuration.go
  api/v2/datadog/docs/MetricsApi.md
  tests/api/v2/datadog/features/metrics.feature
Due: generated
