Repository DataDog/datadog-api-client-go: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, licensed, license-3rdparty

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generated
    name: Do not commit generated files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^api/.*(?<!\_test.go)$'
    verbose: true
  - id: licensed
    name: Licensed
    language: ruby
    language_version: system
    additional_dependencies:
      - licensed
    entry: .licenses/check.sh
    pass_filenames: false
    files: "^(go.mod|go.sum|.licensed.yml|.licenses/.*)$"
    verbose: true
  - id: license-3rdparty
    name: LICENSE-3rdparty
    language: python
    language_version: '3'
    additional_dependencies:
      - pyyaml
    entry: .licenses/licenses.py
    pass_filenames: false
    files: "^(go.mod|go.sum|.licensed.yml|.licenses/.*.dep.yml)$"
    verbose: true

remove custom license checl
  run-tests.sh
Due: none

Regenerate client from commit 54a10e7 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_metrics.go
  api/v1/datadog/docs/MetricsApi.md
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/api_metrics.go
  api/v2/datadog/docs/MetricsApi.md
Due: generated

Tweak README
  README.md
Due: none

Tweak README (#783)
  README.md
Due: none

Regenerate client from commit 95807f2 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SLOHistoryResponseData.md
  api/v1/datadog/docs/SLOHistorySLIData.md
  api/v1/datadog/model_slo_history_metrics.go
  api/v1/datadog/model_slo_history_response_data.go
  api/v1/datadog/model_slo_history_sli_data.go
Due: generated

First scenario in security monitorking is OK
  tests/api/v2/datadog/features/security_monitoring.feature
  tests/scenarios.go
Due: none

First and Second scenario in security monitoring are OK
  tests/api/v2/datadog/features/security_monitoring.feature
  tests/api/v2/datadog/features/undo.json
  tests/scenarios.go
Due: none

Regenerate client from commit 347c26b of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsAPITestResultShortResult.md
  api/v1/datadog/docs/SyntheticsCheckType.md
  api/v1/datadog/docs/SyntheticsTestOptions.md
  api/v1/datadog/docs/SyntheticsTestRequest.md
  api/v1/datadog/model_synthetics_api_test_result_short_result.go
  api/v1/datadog/model_synthetics_check_type.go
  api/v1/datadog/model_synthetics_test_options.go
  api/v1/datadog/model_synthetics_test_request.go
Due: generated

release beta 17
  CHANGELOG.md
  version.go
Due: none

go mod tidy
  go.sum
Due: licensed, license-3rdparty

Release beta 17 (#786)
  CHANGELOG.md
  go.sum
  version.go
Due: licensed, license-3rdparty

New dev cycle
  version.go
Due: none

New dev cycle (#788)
  version.go
Due: none

First 4 tests are passing in security monitoring
  tests/api/v2/datadog/features/security_monitoring.feature
  tests/api/v2/datadog/features/undo.json
  tests/scenarios.go
Due: none

Removed t.Logf from body func
  tests/scenarios.go
Due: none

Regenerate client from commit 208c57f of spec repo
  .apigentools-info
  api/v2/datadog/.openapi-generator/FILES
  api/v2/datadog/README.md
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/docs/SecurityMonitoringRuleQuery.md
  api/v2/datadog/docs/SecurityMonitoringRuleQueryCreate.md
  api/v2/datadog/docs/SecurityMonitoringRuntimeAgentRule.md
  api/v2/datadog/model_security_monitoring_rule_query.go
  api/v2/datadog/model_security_monitoring_rule_query_create.go
  api/v2/datadog/model_security_monitoring_runtime_agent_rule.go
Due: generated

Updated scenarios.go
  tests/scenarios.go
Due: none

updated cassettes
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns__Bad_Request__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns__Bad_Request__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Delete_a_non_existing_rule_returns__Not_Found__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Delete_a_non_existing_rule_returns__Not_Found__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Delete_an_existing_rule_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Delete_an_existing_rule_returns__OK__response.yaml
Due: none

Update cassettes for datadog-api-client-go
  api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns__Bad_Request__response.freeze
  api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns__Bad_Request__response.yaml
  api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns__OK__response.freeze
  api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns__OK__response.yaml
  api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Delete_a_non_existing_rule_returns__Not_Found__response.freeze
  api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Delete_a_non_existing_rule_returns__Not_Found__response.yaml
  api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Delete_an_existing_rule_returns__OK__response.freeze
  api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Delete_an_existing_rule_returns__OK__response.yaml
Due: generated

Updated scenarios.go (#785)
  tests/scenarios.go
Due: none

Regenerate client from commit ae69a43 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_usage_metering.go
  api/v1/datadog/docs/UsageMeteringApi.md
  api/v1/datadog/docs/UsageTopAvgMetricsMetadata.md
  api/v1/datadog/docs/UsageTopAvgMetricsResponse.md
  api/v1/datadog/model_usage_top_avg_metrics_metadata.go
  api/v1/datadog/model_usage_top_avg_metrics_response.go
Due: generated

Add tests for timeseries legend properties
  tests/api/v1/datadog/api_dashboards_test.go
Due: none

update cassettes
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.yaml
Due: none

Regenerate client from commit cc977e5 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/TimeseriesWidgetDefinition.md
  api/v1/datadog/docs/TimeseriesWidgetLegendLayout.md
  api/v1/datadog/docs/WidgetDefinition.md
  api/v1/datadog/model_timeseries_widget_definition.go
  api/v1/datadog/model_timeseries_widget_legend_layout.go
Due: generated

Update cassette
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Events/Scenario_Post_an_event_returns__OK__response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Events/Scenario_Post_an_event_returns__OK__response.yaml
Due: none

Regenerate client from commit 8d5c1fd of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/ServiceLevelObjectivesApi.md
Due: generated

Regenerate client from commit 0453a45 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_events.go
  api/v1/datadog/api_logs.go
  api/v1/datadog/api_metrics.go
  api/v1/datadog/api_service_checks.go
  api/v1/datadog/client.go
  api/v1/datadog/configuration.go
  api/v1/datadog/docs/ContentEncoding.md
  api/v1/datadog/docs/EventCreateRequest.md
  api/v1/datadog/docs/EventCreateResponse.md
  api/v1/datadog/docs/EventsApi.md
  api/v1/datadog/docs/HTTPLogError.md
  api/v1/datadog/docs/HTTPLogItem.md
  api/v1/datadog/docs/IntakePayloadAccepted.md
  api/v1/datadog/docs/LogsApi.md
  api/v1/datadog/docs/MetricsApi.md
  api/v1/datadog/docs/MetricsPayload.md
  api/v1/datadog/docs/Series.md
  api/v1/datadog/docs/ServiceCheck.md
  api/v1/datadog/docs/ServiceCheckStatus.md
  api/v1/datadog/docs/ServiceChecksApi.md
  api/v1/datadog/model_content_encoding.go
  api/v1/datadog/model_event_create_request.go
  api/v1/datadog/model_event_create_response.go
  api/v1/datadog/model_http_log_error.go
  api/v1/datadog/model_http_log_item.go
  api/v1/datadog/model_intake_payload_accepted.go
  api/v1/datadog/model_metrics_payload.go
  api/v1/datadog/model_series.go
  api/v1/datadog/model_service_check.go
  api/v1/datadog/model_service_check_status.go
  tests/api/v1/datadog/features/events.feature
  tests/api/v1/datadog/features/logs.feature
  tests/api/v1/datadog/features/metrics.feature
  tests/api/v1/datadog/features/service_checks.feature
  tests/api/v1/datadog/features/undo.json
Due: generated

Regenerate client from commit b473944 of spec repo
  .apigentools-info
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns__Bad_Request__response.freeze
  api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns__Bad_Request__response.yaml
  api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns__OK__response.freeze
  api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns__OK__response.yaml
  api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Delete_a_non_existing_rule_returns__Not_Found__response.freeze
  api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Delete_a_non_existing_rule_returns__Not_Found__response.yaml
  api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Delete_an_existing_rule_returns__OK__response.freeze
  api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Delete_an_existing_rule_returns__OK__response.yaml
  tests/api/v2/datadog/features/given.json
  tests/api/v2/datadog/features/security_monitoring.feature
  tests/api/v2/datadog/features/undo.json
Due: generated

fix test
  tests/api/v1/datadog/api_dashboards_test.go
Due: none

update cassettes
  api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns__Bad_Request__response.freeze
  api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns__Bad_Request__response.yaml
  api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns__OK__response.freeze
  api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns__OK__response.yaml
  api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Delete_a_non_existing_rule_returns__Not_Found__response.freeze
  api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Delete_a_non_existing_rule_returns__Not_Found__response.yaml
  api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Delete_an_existing_rule_returns__OK__response.freeze
  api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Delete_an_existing_rule_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns__Bad_Request__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns__Bad_Request__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Delete_a_non_existing_rule_returns__Not_Found__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Delete_a_non_existing_rule_returns__Not_Found__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Delete_an_existing_rule_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Delete_an_existing_rule_returns__OK__response.yaml
Due: generated

Regenerate client from commit f22ef72 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/TimeseriesWidgetDefinition.md
  api/v1/datadog/docs/TimeseriesWidgetLegendColumn.md
  api/v1/datadog/docs/WidgetDefinition.md
  api/v1/datadog/model_timeseries_widget_definition.go
  api/v1/datadog/model_timeseries_widget_legend_column.go
Due: generated

Regenerate client from commit dafec27 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/ServiceLevelObjectivesApi.md
Due: generated

Prepare release
  CHANGELOG.md
  version.go
Due: none

Fix test
  tests/api/v1/datadog/api_monitors_test.go
  tests/api/v1/datadog/cassettes/TestMonitorLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestMonitorLifecycle.yaml
Due: none

Prepare release (#795)
  CHANGELOG.md
  tests/api/v1/datadog/api_monitors_test.go
  tests/api/v1/datadog/cassettes/TestMonitorLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestMonitorLifecycle.yaml
  version.go
Due: none

Start dev cycle
  version.go
Due: none

Start dev cycle (#796)
  version.go
Due: none

Regenerate client from commit 3de82a7 of spec repo
  .apigentools-info
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/api_metrics.go
Due: generated

Update readme to include requirements section
  README.md
Due: none

Regenerate client from commit cba6cab of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  tests/api/v1/datadog/features/undo.json
Due: generated
