Repository DataDog/datadog-api-client-go: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generated-features, generate

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generated
    name: Do not commit generated files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^api/.*(?<!\_test.go)$'
    verbose: true
  - id: generated-features
    name: Do not commit generated feature files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: "^tests/scenarios/features/v[1-9][0-9]*/.*.feature$"
    verbose: true
  - id: generate
    name: Generate
    language: node
    entry: make
    files: "^.generator/.*"
    pass_filenames: false
  - id: lint
    name: Lint
    language: docker_image
    entry: cytopia/goimports@sha256:35c66e33c9c8bc986d0b3fdf49ee343ee0f277a76fa05f966590ea1edf191f28 -w .
    stages: [manual]
    pass_filenames: false

Regenerate client from commit 388700d of spec repo
  .apigentools-info
  examples/v2/roles/AddPermissionToRole.go
  examples/v2/roles/AddUserToRole.go
  examples/v2/roles/RemovePermissionFromRole.go
  examples/v2/roles/RemoveUserFromRole.go
Due: none

Always parse JSON error, store it in BDD
  .generator/templates/client.mustache
  tests/scenarios/step_definitions.go
Due: generate

Regenerate client from commit 60c6582 of spec repo
  .apigentools-info
  api/v1/datadog/client.go
  api/v2/datadog/client.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Events/Scenario_Post_an_event_in_the_past_returns_Bad_Request_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Events/Scenario_Post_an_event_in_the_past_returns_Bad_Request_response.yaml
  tests/scenarios/features/v1/events.feature
Due: generated, generated-features

Regenerate client from commit d51b660 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/UsageAttributionSupportedMetrics.md
  api/v1/datadog/docs/UsageAttributionValues.md
  api/v1/datadog/model_usage_attribution_supported_metrics.go
  api/v1/datadog/model_usage_attribution_values.go
  tests/scenarios/features/v1/events.feature
Due: generated, generated-features, generate

Regenerate client from commit a7401b6 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/README.md
  api/v1/datadog/api_synthetics.go
  api/v1/datadog/docs/SyntheticsApi.md
  examples/v1/synthetics/TriggerTests.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Trigger_Synthetics_tests_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Trigger_Synthetics_tests_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Trigger_some_Synthetics_tests_returns_OK_response.freeze
  tests/scenarios/features/v1/synthetics.feature
Due: generated, generated-features, generate

Regenerate client from commit 350df8d of spec repo
  .apigentools-info
  tests/scenarios/features/v1/synthetics.feature
Due: generated-features

Regenerate client from commit d837514 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  tests/scenarios/features/v1/usage_metering.feature
Due: generated-features, generate

Regenerate client from commit c8a8203 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/docs/User.md
  api/v1/datadog/model_access_role.go
  api/v1/datadog/model_user.go
  tests/api/v1/datadog/api_users_test.go
Due: generated

Regenerate client from commit 1c2091d of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/User.md
  api/v1/datadog/model_user.go
  tests/scenarios/features/v1/users.feature
Due: generated, generated-features, generate

Revert "Removes `access_role` property from user v1 (#1214)"
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/User.md
  api/v1/datadog/model_user.go
  tests/api/v1/datadog/api_users_test.go
  tests/api/v1/datadog/cassettes/TestCreateUser.yaml
  tests/api/v1/datadog/cassettes/TestDisableUser.yaml
  tests/api/v1/datadog/cassettes/TestUpdateUser.yaml
  tests/api/v1/datadog/cassettes/TestUserDisableErrors.yaml
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors.yaml
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors/404_Not_Found.yaml
  tests/scenarios/features/v1/users.feature
Due: generated, generated-features, generate

Revert "Removes `access_role` property from user v1 (#1214)" (#1237)
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/User.md
  api/v1/datadog/model_user.go
  tests/api/v1/datadog/api_users_test.go
  tests/api/v1/datadog/cassettes/TestCreateUser.yaml
  tests/api/v1/datadog/cassettes/TestDisableUser.yaml
  tests/api/v1/datadog/cassettes/TestUpdateUser.yaml
  tests/api/v1/datadog/cassettes/TestUserDisableErrors.yaml
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors.yaml
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors/404_Not_Found.yaml
  tests/scenarios/features/v1/users.feature
Due: generated, generated-features, generate

report test.codeowners
  LICENSE-3rdparty.csv
  tests/go.mod
  tests/go.sum
  tests/scenarios/scenarios_test.go
Due: none

Regenerate client from commit df97aef of spec repo
  .apigentools-info
  examples/v2/logs/ListLogs.go
  tests/scenarios/features/v2/logs.feature
Due: generated-features

update changelog and bump version
  CHANGELOG.md
  version.go
Due: none

update changelog and bump version (#1241)
  CHANGELOG.md
  version.go
Due: none

start dev cycle
  version.go
Due: none

start dev cycle (#1242)
  version.go
Due: none

Regenerate client from commit 9bcd121 of spec repo
  .apigentools-info
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Monitors/Scenario_Create_a_monitor_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Monitors/Scenario_Create_a_monitor_returns_OK_response.yaml
Due: none

use upstream
  LICENSE-3rdparty.csv
  tests/go.mod
  tests/go.sum
Due: none

Regenerate client from commit 9a2238a of spec repo
  .apigentools-info
  examples/v2/logs/ListLogs.go
  tests/scenarios/features/v2/logs.feature
Due: generated-features

Regenerate client from commit 0029fd5 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/v2/datadog/docs/RoleCreateAttributes.md
  api/v2/datadog/model_role_create_attributes.go
  tests/scenarios/features/v2/roles.feature
Due: generated, generated-features, generate

remove migrated tests
  tests/api/v1/datadog/api_monitors_test.go
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/api_users_test.go
  tests/api/v2/datadog/api_users_test.go
Due: none

Regenerate client from commit 7316fb8 of spec repo
  .apigentools-info
  tests/api/v1/datadog/api_monitors_test.go
  tests/scenarios/features/v1/monitors.feature
  tests/scenarios/features/v1/synthetics.feature
  tests/scenarios/features/v2/incidents.feature
Due: generated-features

Regenerate client from commit 49a21ae of spec repo
  .apigentools-info
  tests/scenarios/features/v1/logs.feature
  tests/scenarios/features/v1/metrics.feature
  tests/scenarios/features/v2/logs.feature
Due: generated-features

Regenerate client from commit 15761ea of spec repo
  .apigentools-info
  tests/scenarios/features/v2/incidents.feature
Due: generated-features

Sleep after request if needed
  .github/workflows/test_integration.yml
  tests/scenarios/actions.go
Due: none

Sleep after request if needed (#1256)
  .github/workflows/test_integration.yml
  tests/scenarios/actions.go
Due: none

Regenerate client from commit 54aeadc of spec repo
  .apigentools-info
  tests/scenarios/actions.go
  tests/scenarios/features/v1/logs.feature
  tests/scenarios/features/v1/metrics.feature
  tests/scenarios/features/v2/logs.feature
Due: generated-features

Regenerate client from commit 729b64f of spec repo
  .apigentools-info
  tests/scenarios/features/v1/dashboard_lists.feature
  tests/scenarios/features/v1/dashboards.feature
  tests/scenarios/features/v1/downtimes.feature
  tests/scenarios/features/v1/events.feature
  tests/scenarios/features/v1/hosts.feature
  tests/scenarios/features/v1/key_management.feature
  tests/scenarios/features/v1/logs_indexes.feature
  tests/scenarios/features/v1/logs_pipelines.feature
  tests/scenarios/features/v1/metrics.feature
  tests/scenarios/features/v1/monitors.feature
  tests/scenarios/features/v1/notebooks.feature
  tests/scenarios/features/v1/organizations.feature
  tests/scenarios/features/v1/pagerduty_integration.feature
  tests/scenarios/features/v1/service_level_objective_corrections.feature
  tests/scenarios/features/v1/service_level_objectives.feature
  tests/scenarios/features/v1/slack_integration.feature
  tests/scenarios/features/v1/synthetics.feature
  tests/scenarios/features/v1/tags.feature
  tests/scenarios/features/v1/usage_metering.feature
  tests/scenarios/features/v1/users.feature
  tests/scenarios/features/v1/webhooks_integration.feature
  tests/scenarios/features/v2/dashboard_lists.feature
  tests/scenarios/features/v2/incident_services.feature
  tests/scenarios/features/v2/incident_teams.feature
  tests/scenarios/features/v2/incidents.feature
  tests/scenarios/features/v2/key_management.feature
  tests/scenarios/features/v2/logs_archives.feature
  tests/scenarios/features/v2/logs_metrics.feature
  tests/scenarios/features/v2/metrics.feature
  tests/scenarios/features/v2/roles.feature
  tests/scenarios/features/v2/security_monitoring.feature
  tests/scenarios/features/v2/service_accounts.feature
  tests/scenarios/features/v2/users.feature
Due: generated-features

Regenerate client from commit 4324847 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/v2/datadog/docs/SecurityMonitoringSignalAttributes.md
  api/v2/datadog/model_security_monitoring_signal_attributes.go
Due: generated, generate

Regenerate client from commit 7428356 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/v2/datadog/model_incident_field_attributes_value_type.go
Due: generated, generate

Regenerate client from commit 4c16b82 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/v2/datadog/docs/LogsQueryFilter.md
  api/v2/datadog/model_logs_query_filter.go
Due: generated, generate

Regenerate client from commit eb96eba of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/MonitorsApi.md
Due: generated, generate

Regenerate client from commit 33ea608 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/UsageRumUnitsHour.md
  api/v1/datadog/model_usage_rum_units_hour.go
Due: generated, generate

Regenerate client from commit 3934ce4 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/SyntheticsConfigVariable.md
  api/v1/datadog/model_synthetics_config_variable.go
  tests/scenarios/features/v1/synthetics.feature
Due: generated, generated-features, generate
