Repository DataDog/datadog-api-client-go: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, licensed, license-3rdparty

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generated
    name: Do not commit generated files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^api/.*(?<!\_test.go)$'
    verbose: true
  - id: licensed
    name: Licensed
    language: ruby
    language_version: system
    additional_dependencies:
      - licensed
    entry: .licenses/check.sh
    pass_filenames: false
    files: "^(go.mod|go.sum|.licensed.yml|.licenses/.*)$"
    verbose: true
  - id: license-3rdparty
    name: LICENSE-3rdparty
    language: python
    language_version: '3'
    additional_dependencies:
      - pyyaml
    entry: .licenses/licenses.py
    pass_filenames: false
    files: "^(go.mod|go.sum|.licensed.yml|.licenses/.*.dep.yml)$"
    verbose: true

Various doc tweaks
  .generator/templates/api_doc.mustache
  .generator/templates/model_doc.mustache
Due: none

Fix some type links
  .generator/templates/api_doc.mustache
Due: none

Fix check examples
  check-examples.sh
Due: none

Test errors
  .generator/templates/api_doc.mustache
Due: none

Fix example extract
  check-examples.sh
  extract-code-blocks.awk
Due: none

Fix example extract (#908)
  check-examples.sh
  extract-code-blocks.awk
Due: none

Handle version parameter
  check-examples.sh
Due: none

Handle version in go
  check-examples.sh
  extract-code-blocks.sh
Due: none

Regenerate client from commit 45e6981 of spec repo
  .apigentools-info
Due: none

Regenerate client from commit eaa0782 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_service_level_objectives.go
  api/v1/datadog/docs/SLOResponse.md
  api/v1/datadog/docs/SLOResponseData.md
  api/v1/datadog/docs/ServiceLevelObjectivesApi.md
  api/v1/datadog/model_slo_response.go
  api/v1/datadog/model_slo_response_data.go
Due: generated

Regenerate client from commit b2e3154 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsTestOptions.md
  api/v1/datadog/model_synthetics_test_options.go
Due: generated

Regenerate client from commit 52e5730 of spec repo
  .apigentools-info
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/docs/SecurityMonitoringRuleDetectionMethod.md
  api/v2/datadog/model_security_monitoring_rule_detection_method.go
Due: generated

[graph-editor] Change manual test for new context menu API
  tests/api/v1/datadog/api_dashboards_test.go
Due: none

fix test
  tests/api/v1/datadog/api_dashboards_test.go
Due: none

Record cassettes
  .generator/templates/model_simple.mustache
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Create_a_notebook_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Create_a_notebook_returns_OK_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Delete_a_notebook_returns_Not_Found_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Delete_a_notebook_returns_Not_Found_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Get_a_notebook_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Get_a_notebook_returns_OK_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Get_all_notebooks_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Get_all_notebooks_returns_OK_response.yaml
  tests/scenarios.go
Due: none

Enforce required fields in JSON
  .generator/templates/model.mustache
  .generator/templates/model_simple.mustache
Due: none

Add missing cassettes
  tests/api/v1/datadog/cassettes/TestUsageLogsByRetention.freeze
  tests/api/v1/datadog/cassettes/TestUsageLogsByRetention.yaml
Due: none

Regenerate client from commit dcadb1c of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_usage_metering.go
  api/v1/datadog/docs/LogsByRetention.md
  api/v1/datadog/docs/LogsByRetentionMonthlyUsage.md
  api/v1/datadog/docs/LogsByRetentionOrgUsage.md
  api/v1/datadog/docs/LogsByRetentionOrgs.md
  api/v1/datadog/docs/LogsRetentionAggSumUsage.md
  api/v1/datadog/docs/LogsRetentionSumUsage.md
  api/v1/datadog/docs/UsageLogsByRetentionHour.md
  api/v1/datadog/docs/UsageLogsByRetentionResponse.md
  api/v1/datadog/docs/UsageMeteringApi.md
  api/v1/datadog/docs/UsageSummaryResponse.md
  api/v1/datadog/model_logs_by_retention.go
  api/v1/datadog/model_logs_by_retention_monthly_usage.go
  api/v1/datadog/model_logs_by_retention_org_usage.go
  api/v1/datadog/model_logs_by_retention_orgs.go
  api/v1/datadog/model_logs_retention_agg_sum_usage.go
  api/v1/datadog/model_logs_retention_sum_usage.go
  api/v1/datadog/model_usage_logs_by_retention_hour.go
  api/v1/datadog/model_usage_logs_by_retention_response.go
  api/v1/datadog/model_usage_summary_response.go
Due: generated

Regenerate client from commit b9a2b4b of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsTestConfig.md
  api/v1/datadog/docs/SyntheticsTickInterval.md
  api/v1/datadog/model_synthetics_test_config.go
  api/v1/datadog/model_synthetics_tick_interval.go
  tests/api/v1/datadog/features/synthetics.feature
Due: generated

Regenerate client from commit 8176bfc of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_service_level_objective_corrections.go
  tests/api/v1/datadog/features/service_level_objective_corrections.feature
Due: generated

handle cases of typed nil
  .generator/templates/api.mustache
Due: none

handle typed nils
  .generator/templates/client.mustache
Due: none

Regenerate client from commit 8d8238a of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_usage_metering.go
  api/v1/datadog/docs/UsageAttributionSupportedMetrics.md
  api/v1/datadog/docs/UsageMeteringApi.md
  api/v1/datadog/model_usage_attribution_supported_metrics.go
Due: generated

Update cassettes
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Delete_a_notebook_returns_Not_Found_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Delete_a_notebook_returns_Not_Found_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Delete_a_notebook_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Delete_a_notebook_returns_OK_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Update_a_notebook_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Update_a_notebook_returns_OK_response.yaml
Due: none

Cassettes
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Delete_a_notebook_returns_Not_Found_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Delete_a_notebook_returns_Not_Found_response.yaml
Due: none

lint
  .generator/templates/client.mustache
Due: none

Update cassettes
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Create_a_notebook_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Create_a_notebook_returns_OK_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Delete_a_notebook_returns_Not_Found_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Delete_a_notebook_returns_Not_Found_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Delete_a_notebook_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Delete_a_notebook_returns_OK_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Get_a_notebook_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Get_a_notebook_returns_OK_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Get_all_notebooks_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Get_all_notebooks_returns_OK_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Update_a_notebook_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Update_a_notebook_returns_OK_response.yaml
Due: none

Fix : undocumented fields in security monitoring rules : hasExtendedTitle, type, version
  tests/api/v2/datadog/cassettes/TestListSecurityMonitoringSignals.freeze
  tests/api/v2/datadog/cassettes/TestListSecurityMonitoringSignals.yaml
  tests/api/v2/datadog/cassettes/TestSearchSecurityMonitoringSignals.freeze
  tests/api/v2/datadog/cassettes/TestSearchSecurityMonitoringSignals.yaml
  tests/api/v2/datadog/cassettes/TestSecMonRulesCRUD.freeze
  tests/api/v2/datadog/cassettes/TestSecMonRulesCRUD.yaml
Due: none

[K9] Update cassettes
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_security_filter_returns_OK_response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_security_filter_returns_OK_response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Delete_a_security_filter_returns_No_Content_response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Delete_a_security_filter_returns_No_Content_response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Get_a_security_filter_returns_OK_response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Get_a_security_filter_returns_OK_response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Get_all_security_filters_returns_OK_response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Get_all_security_filters_returns_OK_response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Update_a_security_filter_returns_OK_response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Update_a_security_filter_returns_OK_response.yaml
Due: none

Re-record
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.yaml
Due: none

Regenerate client from commit 9b7eac3 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/WidgetLayout.md
  api/v1/datadog/model_widget_layout.go
Due: generated

[K9] Update cassettes
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_security_filter_returns_OK_response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_security_filter_returns_OK_response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Delete_a_security_filter_returns_No_Content_response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Delete_a_security_filter_returns_No_Content_response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Get_a_security_filter_returns_OK_response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Get_a_security_filter_returns_OK_response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Update_a_security_filter_returns_OK_response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Update_a_security_filter_returns_OK_response.yaml
Due: none

Fix : undocumented field in security monitoring rules : updateAuthorId
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.yaml
Due: none

Updating cassettes following update : 'undocumented field in security monitoring rules : updateAuthorId'
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.yaml
Due: none

add tests
  tests/api/v2/datadog/api_logs_test.go
  tests/api/v2/datadog/cassettes/TestGetLogsNilBody.freeze
  tests/api/v2/datadog/cassettes/TestGetLogsNilBody.yaml
Due: none

Regenerate client from commit 89303d3 of spec repo
  .apigentools-info
  api/v1/datadog/client.go
  api/v2/datadog/client.go
Due: generated

Release v1.0.0-beta.21
  CHANGELOG.md
  go.mod
  go.sum
  version.go
Due: licensed, license-3rdparty
