Repository DataDog/datadog-api-client-go: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generated-features, generate

generated:
  name: Do not commit generated files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

generated-features:
  name: Do not commit generated feature files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

generate:
  name: Generate
  language: node
  entry: make
  pass_filenames: false

Regenerate client from commit f676b70 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/SLOCorrectionCreateRequestAttributes.md
  api/v1/datadog/docs/SLOCorrectionResponseAttributes.md
  api/v1/datadog/docs/SLOCorrectionUpdateRequestAttributes.md
  api/v1/datadog/model_slo_correction_create_request_attributes.go
  api/v1/datadog/model_slo_correction_response_attributes.go
  api/v1/datadog/model_slo_correction_update_request_attributes.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Service_Level_Objective_Corrections/Scenario_Create_an_SLO_correction_with_rrule_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Service_Level_Objective_Corrections/Scenario_Create_an_SLO_correction_with_rrule_returns_OK_response.yaml
  tests/scenarios/features/v1/service_level_objective_corrections.feature
Due: generated, generated-features, generate

Compare bodies as JSON
  tests/test_utils.go
Due: none

Regenerate client from commit ca613b5 of spec repo
  .apigentools-info
  tests/test_utils.go
Due: none

Regenerate client from commit d90592c of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  api/v1/datadog/api_monitors.go
  api/v1/datadog/configuration.go
  api/v1/datadog/docs/Event.md
  api/v1/datadog/docs/EventCreateRequest.md
  api/v1/datadog/docs/EventCreateResponse.md
  api/v1/datadog/docs/LogsListRequestTime.md
  api/v1/datadog/docs/MonitorSearchResult.md
  api/v1/datadog/docs/MonitorsApi.md
  api/v1/datadog/docs/SLOThreshold.md
  api/v1/datadog/docs/ServiceLevelObjectivesApi.md
  api/v1/datadog/docs/TagsApi.md
  api/v1/datadog/docs/UsageHostHour.md
  api/v1/datadog/docs/WidgetAxis.md
  api/v1/datadog/model_event.go
  api/v1/datadog/model_event_create_request.go
  api/v1/datadog/model_event_create_response.go
  api/v1/datadog/model_logs_list_request_time.go
  api/v1/datadog/model_monitor_search_result.go
  api/v1/datadog/model_slo_threshold.go
  api/v1/datadog/model_usage_host_hour.go
  api/v1/datadog/model_widget_axis.go
  api/v2/datadog/configuration.go
  tests/scenarios/features/v1/logs_pipelines.feature
  tests/scenarios/features/v2/logs_archives.feature
Due: generated, generated-features, generate

update host metadata fixture
  tests/api/v1/datadog/fixtures/hosts/host_search_with_metadata.json
Due: none

Update README.md
  README.md
Due: none

Update README.md (#1266)
  README.md
Due: none

Regenerate client from commit 7feb9cb of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/docs/SunburstWidgetDefinition.md
  api/v1/datadog/docs/SunburstWidgetDefinitionType.md
  api/v1/datadog/docs/SunburstWidgetLegend.md
  api/v1/datadog/docs/SunburstWidgetLegendInlineAutomatic.md
  api/v1/datadog/docs/SunburstWidgetLegendInlineAutomaticType.md
  api/v1/datadog/docs/SunburstWidgetLegendTable.md
  api/v1/datadog/docs/SunburstWidgetLegendTableType.md
  api/v1/datadog/docs/SunburstWidgetRequest.md
  api/v1/datadog/docs/WidgetDefinition.md
  api/v1/datadog/model_sunburst_widget_definition.go
  api/v1/datadog/model_sunburst_widget_definition_type.go
  api/v1/datadog/model_sunburst_widget_legend.go
  api/v1/datadog/model_sunburst_widget_legend_inline_automatic.go
  api/v1/datadog/model_sunburst_widget_legend_inline_automatic_type.go
  api/v1/datadog/model_sunburst_widget_legend_table.go
  api/v1/datadog/model_sunburst_widget_legend_table_type.go
  api/v1/datadog/model_sunburst_widget_request.go
  api/v1/datadog/model_widget_definition.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_sunburst_widget_and_metrics_data.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_sunburst_widget_and_metrics_data.yaml
  tests/scenarios/features/v1/dashboards.feature
Due: generated, generated-features, generate

Regenerate client from commit 44311ae of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  api/v1/datadog/README.md
  api/v2/datadog/README.md
Due: generated, generate

Regenerate client from commit ee277b0 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/api_monitors.go
  api/v1/datadog/docs/MonitorType.md
  api/v1/datadog/docs/MonitorsApi.md
  api/v1/datadog/model_monitor_type.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Monitors/Scenario_Create_a_ci-pipelines_monitor_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Monitors/Scenario_Create_a_ci-pipelines_monitor_returns_OK_response.yaml
  tests/scenarios/features/v1/monitors.feature
Due: generated, generated-features, generate

Regenerate client from commit 90bc255 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/UsageAuditLogsHour.md
  api/v1/datadog/docs/UsageCWSHour.md
  api/v1/datadog/docs/UsageCloudSecurityPostureManagementHour.md
  api/v1/datadog/docs/UsageDBMHour.md
  api/v1/datadog/model_usage_audit_logs_hour.go
  api/v1/datadog/model_usage_cloud_security_posture_management_hour.go
  api/v1/datadog/model_usage_cws_hour.go
  api/v1/datadog/model_usage_dbm_hour.go
Due: generated, generate

Regenerate client from commit 4bb7a8e of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/v2/datadog/.openapi-generator/FILES
  api/v2/datadog/README.md
  api/v2/datadog/api_roles.go
  api/v2/datadog/docs/RoleClone.md
  api/v2/datadog/docs/RoleCloneAttributes.md
  api/v2/datadog/docs/RoleCloneRequest.md
  api/v2/datadog/docs/RolesApi.md
  api/v2/datadog/model_role_clone.go
  api/v2/datadog/model_role_clone_attributes.go
  api/v2/datadog/model_role_clone_request.go
  examples/v2/roles/CloneRole.go
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Roles/Scenario_Create_a_new_role_by_cloning_an_existing_role_returns_Bad_Request_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Roles/Scenario_Create_a_new_role_by_cloning_an_existing_role_returns_Bad_Request_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Roles/Scenario_Create_a_new_role_by_cloning_an_existing_role_returns_Conflict_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Roles/Scenario_Create_a_new_role_by_cloning_an_existing_role_returns_Conflict_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Roles/Scenario_Create_a_new_role_by_cloning_an_existing_role_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Roles/Scenario_Create_a_new_role_by_cloning_an_existing_role_returns_OK_response.yaml
  tests/scenarios/features/v2/roles.feature
  tests/scenarios/features/v2/undo.json
Due: generated, generated-features, generate

Fix Go date in MacOS
  run-go-tests.sh
Due: none

Regenerate client from commit fa551a3 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/v2/datadog/docs/ApplicationKeyCreateAttributes.md
  api/v2/datadog/docs/ApplicationKeyUpdateAttributes.md
  api/v2/datadog/docs/FullApplicationKeyAttributes.md
  api/v2/datadog/docs/KeyManagementApi.md
  api/v2/datadog/docs/PartialApplicationKeyAttributes.md
  api/v2/datadog/docs/ServiceAccountsApi.md
  api/v2/datadog/model_application_key_create_attributes.go
  api/v2/datadog/model_application_key_update_attributes.go
  api/v2/datadog/model_full_application_key_attributes.go
  api/v2/datadog/model_partial_application_key_attributes.go
  examples/v2/key-management/CreateCurrentUserApplicationKey_3383369233.go
  examples/v2/key-management/UpdateApplicationKey.go
  examples/v2/key-management/UpdateCurrentUserApplicationKey.go
  examples/v2/service-accounts/CreateServiceAccountApplicationKey_3480494373.go
  examples/v2/service-accounts/UpdateServiceAccountApplicationKey_768415790.go
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Key_Management/Scenario_Create_an_Application_key_with_scopes_for_current_user_returns_Created_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Key_Management/Scenario_Create_an_Application_key_with_scopes_for_current_user_returns_Created_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Service_Accounts/Scenario_Create_an_application_key_with_scopes_for_this_service_account_returns_Created_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Service_Accounts/Scenario_Create_an_application_key_with_scopes_for_this_service_account_returns_Created_response.yaml
  tests/scenarios/features/v2/key_management.feature
  tests/scenarios/features/v2/service_accounts.feature
Due: generated, generated-features, generate

fix string to []interface{}
  tests/scenarios/scenarios.go
Due: none

Regenerate client from commit 861a3c0 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api_usage_metering.go
  api/v1/datadog/configuration.go
  api/v1/datadog/docs/HourlyUsageAttributionBody.md
  api/v1/datadog/docs/HourlyUsageAttributionMetadata.md
  api/v1/datadog/docs/HourlyUsageAttributionPagination.md
  api/v1/datadog/docs/HourlyUsageAttributionResponse.md
  api/v1/datadog/docs/HourlyUsageAttributionUsageType.md
  api/v1/datadog/docs/UsageMeteringApi.md
  api/v1/datadog/model_hourly_usage_attribution_body.go
  api/v1/datadog/model_hourly_usage_attribution_metadata.go
  api/v1/datadog/model_hourly_usage_attribution_pagination.go
  api/v1/datadog/model_hourly_usage_attribution_response.go
  api/v1/datadog/model_hourly_usage_attribution_usage_type.go
  examples/v1/usage-metering/GetHourlyUsageAttribution.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Usage_Metering/Scenario_Get_Hourly_Usage_Attribution_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Usage_Metering/Scenario_Get_Hourly_Usage_Attribution_returns_OK_response.yaml
  tests/scenarios/features/v1/undo.json
  tests/scenarios/features/v1/usage_metering.feature
Due: generated, generated-features, generate

Regenerate client from commit 2f072b0 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/v2/datadog/.openapi-generator/FILES
  api/v2/datadog/README.md
  api/v2/datadog/docs/SecurityMonitoringRuleQuery.md
  api/v2/datadog/docs/SecurityMonitoringRuleQueryCreate.md
  api/v2/datadog/model_security_monitoring_rule_query.go
  api/v2/datadog/model_security_monitoring_rule_query_create.go
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_498211763.go
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_with_type_workload_security_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_with_type_workload_security_returns_OK_response.yaml
  tests/scenarios/features/v2/security_monitoring.feature
Due: generated, generated-features, generate

Regenerate client from commit 7b8392b of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/UsageRumSessionsHour.md
  api/v1/datadog/docs/UsageSummaryDate.md
  api/v1/datadog/docs/UsageSummaryDateOrg.md
  api/v1/datadog/docs/UsageSummaryResponse.md
  api/v1/datadog/model_usage_rum_sessions_hour.go
  api/v1/datadog/model_usage_summary_date.go
  api/v1/datadog/model_usage_summary_date_org.go
  api/v1/datadog/model_usage_summary_response.go
Due: generated, generate

Regenerate client from commit 4c3cdd2 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/Dashboard.md
  api/v1/datadog/model_dashboard.go
  examples/v1/dashboards/GetDashboard_4262333854.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Get_a_dashboard_returns_author_name.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Get_a_dashboard_returns_author_name.yaml
  tests/scenarios/features/v1/dashboards.feature
Due: generated, generated-features, generate

Regenerate client from commit 6946869 of spec repo
  .apigentools-info
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Get_a_dashboard_returns_author_name.yaml
Due: none

Regenerate client from commit 184be3f of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/SyntheticsAPIStep.md
  api/v1/datadog/model_synthetics_api_step.go
  examples/v1/synthetics/CreateSyntheticsAPITest_1279271422.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Create_an_API_test_with_multi_subtype_returns_OK_-_Returns_the_created_test_details._response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Create_an_API_test_with_multi_subtype_returns_OK_-_Returns_the_created_test_details._response.yaml
  tests/scenarios/features/v1/synthetics.feature
  tests/scenarios/features/v1/synthetics_api_test_multi_step_payload.json
Due: generated, generated-features, generate

Fix tests
  tests/api/v1/datadog/api_downtimes_test.go
Due: none

Regenerate client from commit a4fe6c9 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/UsageAttributionPagination.md
  api/v1/datadog/model_usage_attribution_pagination.go
  tests/scenarios/features/v1/dashboards.feature
Due: generated, generated-features, generate

Regenerate client from commit d72de97 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/DowntimeRecurrence.md
  api/v1/datadog/model_downtime_recurrence.go
  examples/v1/downtimes/CreateDowntime.go
  examples/v1/downtimes/CreateDowntime_1393233946.go
  examples/v1/downtimes/CreateDowntime_2908359488.go
Due: generated, generate

Regenerate client from commit 374d485 of spec repo
  .apigentools-info
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Logs/Scenario_Get_a_quick_list_of_logs_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Logs/Scenario_Get_a_quick_list_of_logs_returns_OK_response.yaml
Due: none

Regenerate client from commit d9089b2 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/UsageRumSessionsHour.md
  api/v1/datadog/docs/UsageSummaryDate.md
  api/v1/datadog/docs/UsageSummaryDateOrg.md
  api/v1/datadog/docs/UsageSummaryResponse.md
  api/v1/datadog/model_usage_rum_sessions_hour.go
  api/v1/datadog/model_usage_summary_date.go
  api/v1/datadog/model_usage_summary_date_org.go
  api/v1/datadog/model_usage_summary_response.go
Due: generated, generate

Regenerate client from commit 31f2832 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/UsageRumSessionsHour.md
  api/v1/datadog/docs/UsageSummaryDate.md
  api/v1/datadog/docs/UsageSummaryDateOrg.md
  api/v1/datadog/docs/UsageSummaryResponse.md
  api/v1/datadog/model_usage_rum_sessions_hour.go
  api/v1/datadog/model_usage_summary_date.go
  api/v1/datadog/model_usage_summary_date_org.go
  api/v1/datadog/model_usage_summary_response.go
Due: generated, generate

Regenerate client from commit 16aa0e9 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/docs/HostMeta.md
  api/v1/datadog/docs/HostMetaInstallMethod.md
  api/v1/datadog/model_host_meta.go
  api/v1/datadog/model_host_meta_install_method.go
  examples/v1/hosts/ListHosts_2975406675.go
  examples/v1/hosts/ListHosts_347346033.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Hosts/Scenario_Get_all_hosts_with_metadata_deserializes_successfully.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Hosts/Scenario_Get_all_hosts_with_metadata_deserializes_successfully.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Hosts/Scenario_Get_all_hosts_with_metadata_for_your_organization_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Hosts/Scenario_Get_all_hosts_with_metadata_for_your_organization_returns_OK_response.yaml
  tests/scenarios/features/v1/hosts.feature
Due: generated, generated-features, generate

Lint docs
  .pre-commit-config.yaml
  Makefile
Due: none

Add files config
  .pre-commit-config.yaml
Due: none

Regenerate client from commit 7c3b86d of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit cc7ebbe of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api_usage_metering.go
  api/v1/datadog/configuration.go
  api/v1/datadog/docs/MonthlyUsageAttributionBody.md
  api/v1/datadog/docs/MonthlyUsageAttributionMetadata.md
  api/v1/datadog/docs/MonthlyUsageAttributionPagination.md
  api/v1/datadog/docs/MonthlyUsageAttributionResponse.md
  api/v1/datadog/docs/MonthlyUsageAttributionSupportedMetrics.md
  api/v1/datadog/docs/MonthlyUsageAttributionValues.md
  api/v1/datadog/docs/UsageMeteringApi.md
  api/v1/datadog/model_monthly_usage_attribution_body.go
  api/v1/datadog/model_monthly_usage_attribution_metadata.go
  api/v1/datadog/model_monthly_usage_attribution_pagination.go
  api/v1/datadog/model_monthly_usage_attribution_response.go
  api/v1/datadog/model_monthly_usage_attribution_supported_metrics.go
  api/v1/datadog/model_monthly_usage_attribution_values.go
  examples/v1/usage-metering/GetMonthlyUsageAttribution.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Usage_Metering/Scenario_Get_Hourly_Usage_Attribution_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Usage_Metering/Scenario_Get_Hourly_Usage_Attribution_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Usage_Metering/Scenario_Get_Monthly_Usage_Attribution_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Usage_Metering/Scenario_Get_Monthly_Usage_Attribution_returns_OK_response.yaml
  tests/scenarios/features/v1/undo.json
  tests/scenarios/features/v1/usage_metering.feature
Due: generated, generated-features, generate

Path conditions:
  generated: any of: ^api/.*(?<!\_test.go)$
  generated-features: any of: ^tests/scenarios/features/v[1-9][0-9]*/.*.feature$
  generate: any of: ^.generator/.*
