Repository DataDog/datadog-api-client-go: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, licensed, license-3rdparty

generated:
  name: Do not commit generated files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

licensed:
  name: Licensed
  language: ruby
  language_version: system
  additional_dependencies:
  - licensed
  entry: .licenses/check.sh
  pass_filenames: false
  verbose: true

license-3rdparty:
  name: LICENSE-3rdparty
  language: python
  language_version: '3'
  additional_dependencies:
  - pyyaml
  entry: .licenses/licenses.py
  pass_filenames: false
  verbose: true

Updated LICENSE-3rdparty
  LICENSE-3rdparty.csv
Due: none

Release v1.0.0-beta.21 (#928)
  CHANGELOG.md
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  version.go
Due: licensed, license-3rdparty

start next dev cycle
  version.go
Due: none

start next dev cycle (#929)
  version.go
Due: none

Regenerate client from commit 3445859 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/DowntimeChild.md
  api/v1/datadog/model_downtime_child.go
Due: generated

Regenerate client from commit b30ab78 of spec repo
  .apigentools-info
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_usage_metering.go
  api/v1/datadog/docs/UsageAttributionPagination.md
  api/v1/datadog/docs/UsageMeteringApi.md
  api/v1/datadog/model_usage_attribution_pagination.go
  tests/api/v1/datadog/features/usage_metering.feature
Due: generated

Regenerate client from commit cc429de of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  tests/api/v1/datadog/features/service_checks.feature
Due: generated

Fix tests, re-record
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestSyntheticsMultipleTestsOperations.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsMultipleTestsOperations.yaml
Due: none

Regenerate client from commit 8dce4be of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsAPITest.md
  api/v1/datadog/docs/SyntheticsApi.md
  api/v1/datadog/docs/SyntheticsBrowserTest.md
  api/v1/datadog/docs/SyntheticsGlobalVariableValue.md
  api/v1/datadog/docs/SyntheticsTestDetails.md
  api/v1/datadog/model_synthetics_global_variable_value.go
  tests/api/v1/datadog/features/synthetics.feature
Due: generated

Regenerate client from commit a1af0e0 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/WidgetCustomLink.md
  api/v1/datadog/model_widget_custom_link.go
Due: generated

Speed up check examples
  check-examples.sh
Due: none

Speed up check examples (#936)
  check-examples.sh
Due: none

Release beta 22
  CHANGELOG.md
  version.go
Due: none

Release beta 22 (#939)
  CHANGELOG.md
  version.go
Due: none

Start dev cycle
  version.go
Due: none

Start dev cycle (#940)
  version.go
Due: none

Regenerate client from commit cd769d5 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/MonitorOptions.md
  api/v1/datadog/model_monitor_options.go
Due: generated

Don't build draft PRs on AZP
  .azure-pipelines/all.yml
Due: none

put key in correct place
  .azure-pipelines/all.yml
Due: none

Don't build draft PRs on AZP (#942)
  .azure-pipelines/all.yml
Due: none

Regenerate client from commit 5765426 of spec repo
  .apigentools-info
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/docs/IncidentServicesApi.md
  api/v2/datadog/docs/IncidentTeamsApi.md
  api/v2/datadog/docs/IncidentsApi.md
  api/v2/datadog/docs/KeyManagementApi.md
  api/v2/datadog/docs/RolesApi.md
  api/v2/datadog/docs/SecurityMonitoringApi.md
  api/v2/datadog/docs/UsersApi.md
Due: generated

Regenerate client from commit ccb4b9f of spec repo
  .apigentools-info
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/docs/IncidentIntegrationMetadataType.md
  api/v2/datadog/docs/RelationshipToIncidentIntegrationMetadataData.md
  api/v2/datadog/model_incident_integration_metadata_type.go
  api/v2/datadog/model_relationship_to_incident_integration_metadata_data.go
  tests/api/v2/datadog/features/incidents.feature
Due: generated

Update tests
  run-go-tests.sh
  tests/api/v1/datadog/api_monitors_test.go
  tests/api/v1/datadog/api_service_level_objectives_test.go
  tests/api/v1/datadog/cassettes/TestMonitorValidateErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestMonitorValidateErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestMonitorValidateErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestMonitorValidateErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestMonitorValidation.freeze
  tests/api/v1/datadog/cassettes/TestMonitorValidation/empty_monitor.freeze
  tests/api/v1/datadog/cassettes/TestMonitorValidation/empty_monitor.yaml
  tests/api/v1/datadog/cassettes/TestMonitorValidation/example_monitor.freeze
  tests/api/v1/datadog/cassettes/TestMonitorValidation/example_monitor.yaml
  tests/api/v1/datadog/cassettes/TestMonitorsCreateErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestMonitorsCreateErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestMonitorsCreateErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestMonitorsCreateErrors/403_Forbidden.yaml
Due: none

Regenerate client from commit f6cf0e5 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/NotebookCreateDataAttributes.md
  api/v1/datadog/docs/NotebookUpdateDataAttributes.md
  api/v1/datadog/docs/NotebooksResponse.md
  api/v1/datadog/docs/NotebooksResponseData.md
  api/v1/datadog/docs/NotebooksResponseDataAttributes.md
  api/v1/datadog/model_notebook_create_data_attributes.go
  api/v1/datadog/model_notebook_distribution_cell_attributes.go
  api/v1/datadog/model_notebook_heat_map_cell_attributes.go
  api/v1/datadog/model_notebook_log_stream_cell_attributes.go
  api/v1/datadog/model_notebook_markdown_cell_attributes.go
  api/v1/datadog/model_notebook_timeseries_cell_attributes.go
  api/v1/datadog/model_notebook_toplist_cell_attributes.go
  api/v1/datadog/model_notebook_update_data_attributes.go
  api/v1/datadog/model_notebooks_response.go
  api/v1/datadog/model_notebooks_response_data.go
  api/v1/datadog/model_notebooks_response_data_attributes.go
Due: generated

Regenerate client from commit 12e8b3e of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_metrics.go
  api/v1/datadog/docs/MetricsApi.md
Due: generated

update tests for synthetics
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestSyntheticsAPIMultistepTestEndpointLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsAPIMultistepTestEndpointLifecycle.yaml
Due: none

Regenerate client from commit c413ebe of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_monitors.go
  api/v1/datadog/docs/Monitor.md
  api/v1/datadog/docs/MonitorsApi.md
  api/v1/datadog/model_monitor.go
  tests/api/v1/datadog/features/monitors.feature
Due: generated

Enables run-tests to output the error message
  run-tests.sh
Due: none

Regenerate client from commit 4ffe2b5 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/UsageAttributionBody.md
  api/v1/datadog/model_usage_attribution_body.go
Due: generated

add missing steps
  .github/workflows/test_integration.yml
Due: none

change job name
  .github/workflows/test_integration.yml
Due: none

remove needs
  .github/workflows/test_integration.yml
Due: none

Run integration tests in actions
  .github/workflows/test_integration.yml
Due: none

Remove AZP
  .azure-pipelines/all.yml
Due: none

fix
  .github/workflows/test_integration.yml
Due: none

cancel in progress
  .github/workflows/test_integration.yml
Due: none

Path conditions:
  generated: any of: ^api/.*(?<!\_test.go)$
  licensed: any of: ^(go.mod|go.sum|.licensed.yml|.licenses/.*)$
  license-3rdparty: any of: ^(go.mod|go.sum|.licensed.yml|.licenses/.*.dep.yml)$
