Repository DataDog/datadog-api-client-go: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generated-features, generate

generated:
  name: Do not commit generated files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

generated-features:
  name: Do not commit generated feature files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

generate:
  name: Generate
  language: node
  entry: make
  pass_filenames: false

Regenerate client from commit f43ab25 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/api_usage_metering.go
  api/v1/datadog/docs/UsageMeteringApi.md
  examples/v1/usage-metering/GetUsageAttribution.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Usage_Metering/Scenario_Get_Usage_Attribution_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Usage_Metering/Scenario_Get_Usage_Attribution_returns_OK_response.yaml
  tests/scenarios/features/v1/usage_metering.feature
Due: generated, generated-features, generate

Regenerate client from commit 55f26ba of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/SyntheticsGlobalVariable.md
  api/v1/datadog/model_synthetics_global_variable.go
Due: generated, generate

Regenerate client from commit 8cf1daa of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/v2/datadog/docs/IncidentsApi.md
Due: generated, generate

Regenerate client from commit 9f3c740 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/TreeMapWidgetDefinition.md
  api/v1/datadog/docs/TreeMapWidgetRequest.md
  api/v1/datadog/model_tree_map_widget_definition.go
  api/v1/datadog/model_tree_map_widget_request.go
  examples/v1/dashboards/CreateDashboard_1024858348.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_a_formulas_and_functions_treemap_widget.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_a_formulas_and_functions_treemap_widget.yaml
  tests/scenarios/features/v1/dashboards.feature
Due: generated, generated-features, generate

Use openapi-generator-cli instead of docker-compose
  .pre-commit-config.yaml
  Makefile
  docker-compose.generator.yaml
  docker-compose.yml
  openapitools.json
Due: none

Move to .generator
  .generator/openapitools.json
  .gitignore
  .pre-commit-config.yaml
Due: generate

Regenerate client from commit 830f39c of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  api/v1/datadog/README.md
  api/v2/datadog/README.md
Due: generated, generate

Regenerate client from commit bb2c57f of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/EventCreateRequest.md
  api/v1/datadog/model_event_create_request.go
Due: generated, generate

Regenerate client from commit 1ae19d0 of spec repo
  .apigentools-info
Due: none

Match recorded headers
  tests/scenarios/scenarios.go
  tests/scenarios/step_definitions.go
  tests/test_utils.go
Due: none

Fix datetime formatting
  .generator/templates/client.mustache
  api/v1/datadog/client.go
  api/v2/datadog/client.go
  tests/scenarios/scenarios.go
Due: generated, generate

Improve query parameter matching and enable header matching
  .generator/templates/client.mustache
  api/v1/datadog/client.go
  api/v2/datadog/client.go
  tests/scenarios/scenarios.go
  tests/scenarios/step_definitions.go
  tests/test_utils.go
Due: generated, generate

Regenerate client from commit 74ee362 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/docs/SyntheticsBasicAuth.md
  api/v1/datadog/docs/SyntheticsBasicAuthNTLM.md
  api/v1/datadog/docs/SyntheticsBasicAuthNTLMType.md
  api/v1/datadog/docs/SyntheticsBasicAuthSigv4.md
  api/v1/datadog/docs/SyntheticsBasicAuthSigv4Type.md
  api/v1/datadog/docs/SyntheticsBasicAuthWeb.md
  api/v1/datadog/docs/SyntheticsBasicAuthWebType.md
  api/v1/datadog/docs/SyntheticsTestRequest.md
  api/v1/datadog/docs/SyntheticsTestRequestProxy.md
  api/v1/datadog/model_synthetics_basic_auth.go
  api/v1/datadog/model_synthetics_basic_auth_ntlm.go
  api/v1/datadog/model_synthetics_basic_auth_ntlm_type.go
  api/v1/datadog/model_synthetics_basic_auth_sigv4.go
  api/v1/datadog/model_synthetics_basic_auth_sigv4_type.go
  api/v1/datadog/model_synthetics_basic_auth_web.go
  api/v1/datadog/model_synthetics_basic_auth_web_type.go
  api/v1/datadog/model_synthetics_test_request.go
  api/v1/datadog/model_synthetics_test_request_proxy.go
  examples/v1/synthetics/CreateSyntheticsAPITest.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Monitors/Scenario_Get_a_synthetics_monitors_details.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Monitors/Scenario_Get_a_synthetics_monitors_details.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Create_an_API_test_returns_OK_-_Returns_the_created_test_details._response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Create_an_API_test_returns_OK_-_Returns_the_created_test_details._response.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Edit_an_API_test_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Edit_an_API_test_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Trigger_Synthetics_tests_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Trigger_Synthetics_tests_returns_OK_response.yaml
  tests/scenarios/features/v1/given.json
  tests/scenarios/features/v1/synthetics.feature
  tests/scenarios/features/v1/synthetics_api_test_payload.json
Due: generated, generated-features, generate

Enable code generation in repo
  .github/workflows/test.yml
Due: none

Update .github/workflows/test.yml
  .github/workflows/test.yml
Due: none

Fix condition
  .github/workflows/test.yml
  .pre-commit-config.yaml
Due: none

Enable code generation in repo (#1298)
  .github/workflows/test.yml
  .pre-commit-config.yaml
Due: none

Fix condition
  tests/test_utils.go
Due: none

Improve query parameter matching and enable header matching (#1297)
  .generator/templates/client.mustache
  api/v1/datadog/client.go
  api/v2/datadog/client.go
  tests/scenarios/scenarios.go
  tests/scenarios/step_definitions.go
  tests/test_utils.go
Due: generated, generate

Remove CI condition
  .github/workflows/test.yml
Due: none

Regenerate client from commit 07112c0 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/v2/datadog/docs/CloudWorkloadSecurityAgentRulesListResponse.md
  api/v2/datadog/model_cloud_workload_security_agent_rules_list_response.go
  tests/scenarios/features/v2/cloud_workload_security.feature
Due: generated, generated-features, generate

Regenerate client from commit f03f589 of spec repo
  .apigentools-info
  tests/scenarios/features/v1/events.feature
Due: generated-features

rm
  examples/v2/security-monitoring/CreateSecurityFilter.go
  examples/v2/security-monitoring/CreateSecurityMonitoringRule.go
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_498211763.go
  examples/v2/security-monitoring/DeleteSecurityFilter_555029489.go
  examples/v2/security-monitoring/DeleteSecurityMonitoringRule.go
  examples/v2/security-monitoring/GetSecurityFilter.go
  examples/v2/security-monitoring/ListSecurityFilters.go
  examples/v2/security-monitoring/UpdateSecurityFilter.go
Due: none

Fix lints in tests package
  tests/scenarios/actions.go
  tests/scenarios/scenarios.go
  tests/scenarios/scenarios_test.go
Due: none

Fix
  tests/scenarios/tracer.go
Due: none

Regenerate client from commit d58d627 of spec repo
  .apigentools-info
Due: none

Regenerate client from commit 9f83d50 of spec repo
  .apigentools-info
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Webhooks_Integration/Scenario_Create_a_custom_variable_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Webhooks_Integration/Scenario_Create_a_custom_variable_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Webhooks_Integration/Scenario_Create_a_webhooks_integration_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Webhooks_Integration/Scenario_Create_a_webhooks_integration_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Webhooks_Integration/Scenario_Get_a_webhook_integration_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Webhooks_Integration/Scenario_Get_a_webhook_integration_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Webhooks_Integration/Scenario_Update_a_custom_variable_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Webhooks_Integration/Scenario_Update_a_custom_variable_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Webhooks_Integration/Scenario_Update_a_webhook_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Webhooks_Integration/Scenario_Update_a_webhook_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Logs_Metrics/Scenario_Create_a_log-based_metric_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Logs_Metrics/Scenario_Create_a_log-based_metric_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Logs_Metrics/Scenario_Get_a_log-based_metric_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Logs_Metrics/Scenario_Get_a_log-based_metric_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Logs_Metrics/Scenario_Get_all_log-based_metrics_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Logs_Metrics/Scenario_Get_all_log-based_metrics_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Logs_Metrics/Scenario_Update_a_log-based_metric_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Logs_Metrics/Scenario_Update_a_log-based_metric_returns_OK_response.yaml
Due: none

fix required fields
  tests/api/utils_test.go
Due: none

Regenerate client from commit 33f7cea of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/UsageBillableSummaryHour.md
  api/v1/datadog/model_usage_billable_summary_hour.go
Due: generated, generate

add type
  tests/api/utils_test.go
Due: none

Update actions
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/approved_status.yml
  .github/workflows/labeler.yml
  .github/workflows/stale.yml
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Due: none

Regenerate client from commit 1d04508 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/api_dashboards.go
  api/v1/datadog/docs/DashboardsApi.md
  examples/v1/dashboards/ListDashboards_1773932563.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Get_deleted_dashboards_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Get_deleted_dashboards_returns_OK_response.yaml
  tests/scenarios/features/v1/dashboards.feature
  tests/scenarios/features/v1/given.json
Due: generated, generated-features, generate

Regenerate client from commit 5808ab7 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/SyntheticsAPIStep.md
  api/v1/datadog/docs/SyntheticsAPITest.md
  api/v1/datadog/docs/SyntheticsApi.md
  api/v1/datadog/docs/SyntheticsBrowserTest.md
  api/v1/datadog/model_synthetics_api_step.go
  api/v1/datadog/model_synthetics_api_test_.go
  api/v1/datadog/model_synthetics_browser_test_.go
  examples/v1/synthetics/CreateSyntheticsAPITest.go
  examples/v1/synthetics/CreateSyntheticsAPITest_1279271422.go
  examples/v1/synthetics/CreateSyntheticsAPITest_2472747642.go
  examples/v1/synthetics/CreateSyntheticsAPITest_3829801148.go
  examples/v1/synthetics/CreateSyntheticsBrowserTest.go
  examples/v1/synthetics/UpdateAPITest.go
  tests/scenarios/features/v1/synthetics.feature
Due: generated, generated-features, generate

Regenerate client from commit 9646439 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/v2/datadog/docs/SecurityMonitoringRuleDetectionMethod.md
  api/v2/datadog/model_security_monitoring_rule_detection_method.go
Due: generated, generate

Fix lints in tests package (#1303)
  tests/scenarios/actions.go
  tests/scenarios/scenarios.go
  tests/scenarios/scenarios_test.go
  tests/scenarios/tracer.go
Due: none

Regenerate client from commit a6ad2ff of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/v2/datadog/.openapi-generator/FILES
  api/v2/datadog/README.md
  api/v2/datadog/docs/SecurityMonitoringRuleDetectionMethod.md
  api/v2/datadog/docs/SecurityMonitoringRuleOptions.md
  api/v2/datadog/docs/SecurityMonitoringRuleQueryAggregation.md
  api/v2/datadog/docs/SecurityMonitoringRuleThirdPartyOptions.md
  api/v2/datadog/model_security_monitoring_rule_detection_method.go
  api/v2/datadog/model_security_monitoring_rule_options.go
  api/v2/datadog/model_security_monitoring_rule_query_aggregation.go
  api/v2/datadog/model_security_monitoring_rule_third_party_options.go
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_3348700599.go
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_with_detection_method_third_party_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_with_detection_method_third_party_returns_OK_response.yaml
  tests/scenarios/features/v2/security_monitoring.feature
Due: generated, generated-features, generate

Regenerate client from commit 4f2cfc0 of spec repo
  .apigentools-info
  examples/v2/incidents/CreateIncident.go
  examples/v2/incidents/DeleteIncident.go
  examples/v2/incidents/GetIncident.go
  examples/v2/incidents/UpdateIncident.go
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Create_an_incident_returns_CREATED_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Create_an_incident_returns_CREATED_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Delete_an_existing_incident_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Delete_an_existing_incident_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Get_a_list_of_incidents_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Get_a_list_of_incidents_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Get_the_details_of_an_incident_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Get_the_details_of_an_incident_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Update_an_existing_incident_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Update_an_existing_incident_returns_OK_response.yaml
  tests/scenarios/features/v2/incidents.feature
Due: generated-features

release: 1.8.0
  CHANGELOG.md
  version.go
Due: none

Path conditions:
  generated: any of: ^api/.*(?<!\_test.go)$
  generated-features: any of: ^tests/scenarios/features/v[1-9][0-9]*/.*.feature$
  generate: any of: ^.generator/.*
